@import url(../Fonts/fonts.css);

*{
    font-family: 'clashR';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url(https://images6.alphacoders.com/934/934732.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y:hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.btn-sair{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    color: rgb(232, 2, 2);
    position: absolute;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.btn-sair:hover{
  background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.quiz-form{
    width: 50%; 
    height: 70%;
    background-image: linear-gradient(white 5% , rgba(255, 255, 255, 0.822) 100%);;
    border-radius: 10px;
    padding: 30px;
    transition: .2s;
    opacity:0;
    z-index: 5;
}

.quiz{
    padding: 20px 0;
}

.upper-question{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 0;
    flex-direction: row;
    align-items: center;
}

.quiz-form h1{
    font-size: 25px;
    padding-bottom: 20px;

}

.upper-part{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(221, 4, 4);
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.timer{
    font-size: 20px;
}


.quiz h2{
    font-size: 20px;
    font-weight: 500;
   
}

.respostas{
    display: flex;
    flex-direction: column;
}

.btn-resposta {
    background: white ;
    font-size: 18px;
    color: #222;
    width: 100%;
    border: 1px solid #262727;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all .3s;
}

.div-btn-proximo{
    padding: 25px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.btn-resposta:hover:not([disabled]){
    background-color: #222;
    color: rgb(255, 255, 255);
}


.btn-proximo{
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 12px 45px ;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    
}

.btn-proximo:hover{
    transition: .1s;
    background-color: rgb(51, 51, 54);;
}


.correta{
 background-color: #9aeabc;
}

.incorreta{
background-color: #ff9393;
}






.confirmacao-sair{
    border-radius: 15px;
       position: fixed;
       width: 20%;
       height: 18%;
       top:50%; left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fff;
       z-index: 999;
       transition: .4s;
       opacity: 0;
       display: none;
 }
 .confirmacao-sair h2{
 padding: 15px 0;
 width: 100%;
 text-align: center;
 }
 
 .grupo-botoes-sair{
    width: 100%;
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    
 }
 .grupo-botoes-sair button{
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 10px 0;
    font-size: 18px;
    background-color: black;
    color: white;
    transition: .2s;
    cursor: pointer;
 }
 
 .grupo-botoes-sair button:hover{
    background-color: rgb(59, 59, 59);
 }
 .grupo-botoes-sair button:active{
    transition: 0s;
    transform: scale(1.02);
 }
 









.wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
 }
 
 #stars {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 50s linear infinite;
    position: absolute;
    z-index: 1;
    box-shadow: 779px 1331px black, 324px 42px black, 303px 586px black,
        1312px 276px black, 451px 625px black, 521px 1931px black, 1087px 1871px black,
        36px 1546px black, 132px 934px black, 1698px 901px black, 1418px 664px black,
        1448px 1157px black, 1084px 232px black, 347px 1776px black, 1722px 243px black,
        1629px 835px black, 479px 969px black, 1231px 960px black, 586px 384px black,
        164px 527px black, 8px 646px black, 1150px 1126px black, 665px 1357px black,
        1556px 1982px black, 1260px 1961px black, 1675px 1741px black,
        1843px 1514px black, 718px 1628px black, 242px 1343px black, 1497px 1880px black,
        1364px 230px black, 1739px 1302px black, 636px 959px black, 304px 686px black,
        614px 751px black, 1935px 816px black, 1428px 60px black, 355px 335px black,
        1594px 158px black, 90px 60px black, 1553px 162px black, 1239px 1825px black,
        1945px 587px black, 749px 1785px black, 1987px 1172px black, 1301px 1237px black,
        1039px 342px black, 1585px 1481px black, 995px 1048px black, 524px 932px black,
        214px 413px black, 1701px 1300px black, 1037px 1613px black, 1871px 996px black,
        1360px 1635px black, 1110px 1313px black, 412px 1783px black, 1949px 177px black,
        903px 1854px black, 700px 1936px black, 378px 125px black, 308px 834px black,
        1118px 962px black, 1350px 1929px black, 781px 1811px black, 561px 137px black,
        757px 1148px black, 1670px 1979px black, 343px 739px black, 945px 795px black,
        576px 1903px black, 1078px 1436px black, 1583px 450px black, 1366px 474px black,
        297px 1873px black, 192px 162px black, 1624px 1633px black, 59px 453px black,
        82px 1872px black, 1933px 498px black, 1966px 1974px black, 1975px 1688px black,
        779px 314px black, 1858px 1543px black, 73px 1507px black, 1693px 975px black,
        1683px 108px black, 1768px 1654px black, 654px 14px black, 494px 171px black,
        1689px 1895px black, 1660px 263px black, 1031px 903px black, 1203px 1393px black,
        1333px 1421px black, 1113px 41px black, 1206px 1645px black, 1325px 1635px black,
        142px 388px black, 572px 215px black, 1535px 296px black, 1419px 407px black,
        1379px 1003px black, 329px 469px black, 1791px 1652px black, 935px 1802px black,
        1330px 1820px black, 421px 1933px black, 828px 365px black, 275px 316px black,
        707px 960px black, 1605px 1554px black, 625px 58px black, 717px 1697px black,
        1669px 246px black, 1925px 322px black, 1154px 1803px black, 1929px 295px black,
        1248px 240px black, 1045px 1755px black, 166px 942px black, 1888px 1773px black,
        678px 1963px black, 1370px 569px black, 1974px 1400px black, 1786px 460px black,
        51px 307px black, 784px 1400px black, 730px 1258px black, 1712px 393px black,
        416px 170px black, 1797px 1932px black, 572px 219px black, 1557px 1856px black,
        218px 8px black, 348px 1334px black, 469px 413px black, 385px 1738px black,
        1357px 1818px black, 240px 942px black, 248px 1847px black, 1535px 806px black,
        236px 1514px black, 1429px 1556px black, 73px 1633px black, 1398px 1121px black,
        671px 1301px black, 1404px 1663px black, 740px 1018px black, 1600px 377px black,
        785px 514px black, 112px 1084px black, 1915px 1887px black, 1463px 1848px black,
        687px 1115px black, 1268px 1768px black, 1729px 1425px black,
        1284px 1022px black, 801px 974px black, 1975px 1317px black, 1354px 834px black,
        1446px 1484px black, 1283px 1786px black, 11px 523px black, 1842px 236px black,
        1355px 654px black, 429px 7px black, 1033px 1128px black, 157px 297px black,
        545px 635px black, 52px 1080px black, 827px 1520px black, 1121px 490px black,
        9px 309px black, 1744px 1586px black, 1014px 417px black, 1534px 524px black,
        958px 552px black, 1403px 1496px black, 387px 703px black, 1522px 548px black,
        1355px 282px black, 1532px 601px black, 1838px 790px black, 290px 259px black,
        295px 598px black, 1601px 539px black, 1561px 1272px black, 34px 1922px black,
        1024px 543px black, 467px 369px black, 722px 333px black, 1976px 1255px black,
        766px 983px black, 1582px 1285px black, 12px 512px black, 617px 1410px black,
        682px 577px black, 1334px 1438px black, 439px 327px black, 1617px 1661px black,
        673px 129px black, 794px 941px black, 1386px 1902px black, 37px 1353px black,
        1467px 1353px black, 416px 18px black, 187px 344px black, 200px 1898px black,
        1491px 1619px black, 811px 347px black, 924px 1827px black, 945px 217px black,
        1735px 1228px black, 379px 1890px black, 79px 761px black, 825px 1837px black,
        1980px 1558px black, 1308px 1573px black, 1488px 1726px black,
        382px 1208px black, 522px 595px black, 1277px 1898px black, 354px 552px black,
        161px 1784px black, 614px 251px black, 526px 1576px black, 17px 212px black,
        179px 996px black, 467px 1208px black, 1944px 1838px black, 1140px 1093px black,
        858px 1007px black, 200px 1064px black, 423px 1964px black, 1945px 439px black,
        1377px 689px black, 1120px 1437px black, 1876px 668px black, 907px 1324px black,
        343px 1976px black, 1816px 1501px black, 1849px 177px black, 647px 91px black,
        1984px 1012px black, 1336px 1300px black, 128px 648px black, 305px 1060px black,
        1324px 826px black, 1263px 1314px black, 1801px 629px black, 1614px 1555px black,
        1634px 90px black, 1603px 452px black, 891px 1984px black, 1556px 1906px black,
        121px 68px black, 1676px 1714px black, 516px 936px black, 1947px 1492px black,
        1455px 1519px black, 45px 602px black, 205px 1039px black, 793px 172px black,
        1562px 1739px black, 1056px 110px black, 1512px 379px black, 1795px 1621px black,
        1848px 607px black, 262px 1719px black, 477px 991px black, 483px 883px black,
        1239px 1197px black, 1496px 647px black, 1649px 25px black, 1491px 1946px black,
        119px 996px black, 179px 1472px black, 1341px 808px black, 1565px 1700px black,
        407px 1544px black, 1754px 357px black, 1288px 981px black, 902px 1997px black,
        1755px 1668px black, 186px 877px black, 1202px 1882px black, 461px 1213px black,
        1400px 748px black, 1969px 1899px black, 809px 522px black, 514px 1219px black,
        374px 275px black, 938px 1973px black, 357px 552px black, 144px 1722px black,
        1572px 912px black, 402px 1858px black, 1544px 1195px black, 667px 1257px black,
        727px 1496px black, 993px 232px black, 1772px 313px black, 1040px 1590px black,
        1204px 1973px black, 1268px 79px black, 1555px 1048px black, 986px 1707px black,
        978px 1710px black, 713px 360px black, 407px 863px black, 461px 736px black,
        284px 1608px black, 103px 430px black, 1283px 1319px black, 977px 1186px black,
        1966px 1516px black, 1287px 1129px black, 70px 1098px black, 1189px 889px black,
        1126px 1734px black, 309px 1292px black, 879px 764px black, 65px 473px black,
        1003px 1959px black, 658px 791px black, 402px 1576px black, 35px 622px black,
        529px 1589px black, 164px 666px black, 1876px 1290px black, 1541px 526px black,
        270px 1297px black, 440px 865px black, 1500px 802px black, 182px 1754px black,
        1264px 892px black, 272px 1249px black, 1289px 1535px black, 190px 1646px black,
        955px 242px black, 1456px 1597px black, 1727px 1983px black, 635px 801px black,
        226px 455px black, 1396px 1710px black, 849px 1863px black, 237px 1264px black,
        839px 140px black, 1122px 735px black, 1280px 15px black, 1318px 242px black,
        1819px 1148px black, 333px 1392px black, 1949px 553px black, 1878px 1332px black,
        467px 548px black, 1812px 1082px black, 1067px 193px black, 243px 156px black,
        483px 1616px black, 1714px 933px black, 759px 1800px black, 1822px 995px black,
        1877px 572px black, 581px 1084px black, 107px 732px black, 642px 1837px black,
        166px 1493px black, 1555px 198px black, 819px 307px black, 947px 345px black,
        827px 224px black, 927px 1394px black, 540px 467px black, 1093px 405px black,
        1140px 927px black, 130px 529px black, 33px 1980px black, 1147px 1663px black,
        1616px 1436px black, 528px 710px black, 798px 1100px black, 505px 1480px black,
        899px 641px black, 1909px 1949px black, 1311px 964px black, 979px 1301px black,
        1393px 969px black, 1793px 1886px black, 292px 357px black, 1196px 1718px black,
        1290px 1994px black, 537px 1973px black, 1181px 1674px black,
        1740px 1566px black, 1307px 265px black, 922px 522px black, 1892px 472px black,
        384px 1746px black, 392px 1098px black, 647px 548px black, 390px 1498px black,
        1246px 138px black, 730px 876px black, 192px 1472px black, 1790px 1789px black,
        928px 311px black, 1253px 1647px black, 747px 1921px black, 1561px 1025px black,
        1533px 1292px black, 1985px 195px black, 728px 729px black, 1712px 1936px black,
        512px 1717px black, 1528px 483px black, 313px 1642px black, 281px 1849px black,
        1212px 799px black, 435px 1191px black, 1422px 611px black, 1718px 1964px black,
        411px 944px black, 210px 636px black, 1502px 1295px black, 1434px 349px black,
        769px 60px black, 747px 1053px black, 789px 504px black, 1436px 1264px black,
        1893px 1225px black, 1394px 1788px black, 1108px 1317px black,
        1673px 1395px black, 854px 1010px black, 1705px 80px black, 1858px 148px black,
        1729px 344px black, 1388px 664px black, 895px 406px black, 1479px 157px black,
        1441px 1157px black, 552px 1900px black, 516px 364px black, 1647px 189px black,
        1427px 1071px black, 785px 729px black, 1080px 1710px black, 504px 204px black,
        1177px 1622px black, 657px 34px black, 1296px 1099px black, 248px 180px black,
        1212px 1568px black, 667px 1562px black, 695px 841px black, 1608px 1247px black,
        751px 882px black, 87px 167px black, 607px 1368px black, 1363px 1203px black,
        1836px 317px black, 1668px 1703px black, 830px 1154px black, 1721px 1398px black,
        1601px 1280px black, 976px 874px black, 1743px 254px black, 1020px 1815px black,
        1670px 1766px black, 1890px 735px black, 1379px 136px black, 1864px 695px black,
        206px 965px black, 1404px 1932px black, 1923px 1360px black, 247px 682px black,
        519px 1708px black, 645px 750px black, 1164px 1204px black, 834px 323px black,
        172px 1350px black, 213px 972px black, 1837px 190px black, 285px 1806px black,
        1047px 1299px black, 1548px 825px black, 1730px 324px black, 1346px 1909px black,
        772px 270px black, 345px 1190px black, 478px 1433px black, 1479px 25px black,
        1994px 1830px black, 1744px 732px black, 20px 1635px black, 690px 1795px black,
        1594px 569px black, 579px 245px black, 1398px 733px black, 408px 1352px black,
        1774px 120px black, 1152px 1370px black, 1698px 1810px black, 710px 1450px black,
        665px 286px black, 493px 1720px black, 786px 5px black, 637px 1140px black,
        764px 324px black, 927px 310px black, 938px 1424px black, 1884px 744px black,
        913px 462px black, 1831px 1936px black, 1527px 249px black, 36px 1381px black,
        1597px 581px black, 1530px 355px black, 949px 459px black, 799px 828px black,
        242px 1471px black, 654px 797px black, 796px 594px black, 1365px 678px black,
        752px 23px black, 1630px 541px black, 982px 72px black, 1733px 1831px black,
        21px 412px black, 775px 998px black, 335px 1945px black, 264px 583px black,
        158px 1311px black, 528px 164px black, 1978px 574px black, 717px 1203px black,
        734px 1591px black, 1555px 820px black, 16px 1943px black, 1625px 1177px black,
        1236px 690px black, 1585px 1590px black, 1737px 1728px black, 721px 698px black,
        1804px 1186px black, 166px 980px black, 1850px 230px black, 330px 1712px black,
        95px 797px black, 1948px 1078px black, 469px 939px black, 1269px 1899px black,
        955px 1220px black, 1137px 1075px black, 312px 1293px black, 986px 1762px black,
        1103px 1238px black, 428px 1993px black, 355px 570px black, 977px 1836px black,
        1395px 1092px black, 276px 913px black, 1743px 656px black, 773px 502px black,
        1686px 1322px black, 1516px 1945px black, 1334px 501px black, 266px 156px black,
        455px 655px black, 798px 72px black, 1059px 1259px black, 1402px 1687px black,
        236px 1329px black, 1455px 786px black, 146px 1228px black, 1851px 823px black,
        1062px 100px black, 1220px 953px black, 20px 1826px black, 36px 1063px black,
        1525px 338px black, 790px 1521px black, 741px 1099px black, 288px 1489px black,
        700px 1060px black, 390px 1071px black, 411px 1036px black, 1853px 1072px black,
        1446px 1085px black, 1164px 874px black, 924px 925px black, 291px 271px black,
        1257px 1964px black, 1580px 1352px black, 1507px 1216px black, 211px 956px black,
        985px 1195px black, 975px 1640px black, 518px 101px black, 663px 1395px black,
        914px 532px black, 145px 1320px black, 69px 1397px black, 982px 523px black,
        257px 725px black, 1599px 831px black, 1636px 1513px black, 1250px 1158px black,
        1132px 604px black, 183px 102px black, 1057px 318px black, 1247px 1835px black,
        1983px 1110px black, 1077px 1455px black, 921px 1770px black, 806px 1350px black,
        1938px 1992px black, 855px 1260px black, 902px 1345px black, 658px 1908px black,
        1845px 679px black, 712px 1482px black, 595px 950px black, 1784px 1992px black,
        1847px 1785px black, 691px 1004px black, 175px 1179px black, 1666px 1911px black,
        41px 61px black, 971px 1080px black, 1830px 1450px black, 1351px 1518px black,
        1257px 99px black, 1395px 1498px black, 1117px 252px black, 1779px 597px black,
        1346px 729px black, 1108px 1144px black, 402px 691px black, 72px 496px black,
        1673px 1604px black, 1497px 974px black, 1865px 1664px black, 88px 806px black,
        918px 77px black, 244px 1118px black, 256px 1820px black, 1851px 1840px black,
        605px 1851px black, 634px 383px black, 865px 37px black, 943px 1024px black,
        1951px 177px black, 1097px 523px black, 985px 1700px black, 1243px 122px black,
        768px 1070px black, 468px 194px black, 320px 1867px black, 1850px 185px black,
        380px 1616px black, 468px 1294px black, 1122px 1743px black, 884px 299px black,
        1300px 1917px black, 1860px 396px black, 1270px 990px black, 529px 733px black,
        1975px 1347px black, 1885px 685px black, 226px 506px black, 651px 878px black,
        1323px 680px black, 1284px 680px black, 238px 1967px black, 911px 174px black,
        1111px 521px black, 1150px 85px black, 794px 502px black, 484px 1856px black,
        1809px 368px black, 112px 953px black, 590px 1009px black, 1655px 311px black,
        100px 1026px black, 1803px 352px black, 865px 306px black, 1077px 1019px black,
        1335px 872px black, 1647px 1298px black, 1233px 1387px black, 698px 1036px black,
        659px 1860px black, 388px 1412px black, 1212px 458px black, 755px 1468px black,
        696px 1654px black, 1144px 60px black;
 }
 
 #stars::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px black, 324px 42px black, 303px 586px black,
        1312px 276px black, 451px 625px black, 521px 1931px black, 1087px 1871px black,
        36px 1546px black, 132px 934px black, 1698px 901px black, 1418px 664px black,
        1448px 1157px black, 1084px 232px black, 347px 1776px black, 1722px 243px black,
        1629px 835px black, 479px 969px black, 1231px 960px black, 586px 384px black,
        164px 527px black, 8px 646px black, 1150px 1126px black, 665px 1357px black,
        1556px 1982px black, 1260px 1961px black, 1675px 1741px black,
        1843px 1514px black, 718px 1628px black, 242px 1343px black, 1497px 1880px black,
        1364px 230px black, 1739px 1302px black, 636px 959px black, 304px 686px black,
        614px 751px black, 1935px 816px black, 1428px 60px black, 355px 335px black,
        1594px 158px black, 90px 60px black, 1553px 162px black, 1239px 1825px black,
        1945px 587px black, 749px 1785px black, 1987px 1172px black, 1301px 1237px black,
        1039px 342px black, 1585px 1481px black, 995px 1048px black, 524px 932px black,
        214px 413px black, 1701px 1300px black, 1037px 1613px black, 1871px 996px black,
        1360px 1635px black, 1110px 1313px black, 412px 1783px black, 1949px 177px black,
        903px 1854px black, 700px 1936px black, 378px 125px black, 308px 834px black,
        1118px 962px black, 1350px 1929px black, 781px 1811px black, 561px 137px black,
        757px 1148px black, 1670px 1979px black, 343px 739px black, 945px 795px black,
        576px 1903px black, 1078px 1436px black, 1583px 450px black, 1366px 474px black,
        297px 1873px black, 192px 162px black, 1624px 1633px black, 59px 453px black,
        82px 1872px black, 1933px 498px black, 1966px 1974px black, 1975px 1688px black,
        779px 314px black, 1858px 1543px black, 73px 1507px black, 1693px 975px black,
        1683px 108px black, 1768px 1654px black, 654px 14px black, 494px 171px black,
        1689px 1895px black, 1660px 263px black, 1031px 903px black, 1203px 1393px black,
        1333px 1421px black, 1113px 41px black, 1206px 1645px black, 1325px 1635px black,
        142px 388px black, 572px 215px black, 1535px 296px black, 1419px 407px black,
        1379px 1003px black, 329px 469px black, 1791px 1652px black, 935px 1802px black,
        1330px 1820px black, 421px 1933px black, 828px 365px black, 275px 316px black,
        707px 960px black, 1605px 1554px black, 625px 58px black, 717px 1697px black,
        1669px 246px black, 1925px 322px black, 1154px 1803px black, 1929px 295px black,
        1248px 240px black, 1045px 1755px black, 166px 942px black, 1888px 1773px black,
        678px 1963px black, 1370px 569px black, 1974px 1400px black, 1786px 460px black,
        51px 307px black, 784px 1400px black, 730px 1258px black, 1712px 393px black,
        416px 170px black, 1797px 1932px black, 572px 219px black, 1557px 1856px black,
        218px 8px black, 348px 1334px black, 469px 413px black, 385px 1738px black,
        1357px 1818px black, 240px 942px black, 248px 1847px black, 1535px 806px black,
        236px 1514px black, 1429px 1556px black, 73px 1633px black, 1398px 1121px black,
        671px 1301px black, 1404px 1663px black, 740px 1018px black, 1600px 377px black,
        785px 514px black, 112px 1084px black, 1915px 1887px black, 1463px 1848px black,
        687px 1115px black, 1268px 1768px black, 1729px 1425px black,
        1284px 1022px black, 801px 974px black, 1975px 1317px black, 1354px 834px black,
        1446px 1484px black, 1283px 1786px black, 11px 523px black, 1842px 236px black,
        1355px 654px black, 429px 7px black, 1033px 1128px black, 157px 297px black,
        545px 635px black, 52px 1080px black, 827px 1520px black, 1121px 490px black,
        9px 309px black, 1744px 1586px black, 1014px 417px black, 1534px 524px black,
        958px 552px black, 1403px 1496px black, 387px 703px black, 1522px 548px black,
        1355px 282px black, 1532px 601px black, 1838px 790px black, 290px 259px black,
        295px 598px black, 1601px 539px black, 1561px 1272px black, 34px 1922px black,
        1024px 543px black, 467px 369px black, 722px 333px black, 1976px 1255px black,
        766px 983px black, 1582px 1285px black, 12px 512px black, 617px 1410px black,
        682px 577px black, 1334px 1438px black, 439px 327px black, 1617px 1661px black,
        673px 129px black, 794px 941px black, 1386px 1902px black, 37px 1353px black,
        1467px 1353px black, 416px 18px black, 187px 344px black, 200px 1898px black,
        1491px 1619px black, 811px 347px black, 924px 1827px black, 945px 217px black,
        1735px 1228px black, 379px 1890px black, 79px 761px black, 825px 1837px black,
        1980px 1558px black, 1308px 1573px black, 1488px 1726px black,
        382px 1208px black, 522px 595px black, 1277px 1898px black, 354px 552px black,
        161px 1784px black, 614px 251px black, 526px 1576px black, 17px 212px black,
        179px 996px black, 467px 1208px black, 1944px 1838px black, 1140px 1093px black,
        858px 1007px black, 200px 1064px black, 423px 1964px black, 1945px 439px black,
        1377px 689px black, 1120px 1437px black, 1876px 668px black, 907px 1324px black,
        343px 1976px black, 1816px 1501px black, 1849px 177px black, 647px 91px black,
        1984px 1012px black, 1336px 1300px black, 128px 648px black, 305px 1060px black,
        1324px 826px black, 1263px 1314px black, 1801px 629px black, 1614px 1555px black,
        1634px 90px black, 1603px 452px black, 891px 1984px black, 1556px 1906px black,
        121px 68px black, 1676px 1714px black, 516px 936px black, 1947px 1492px black,
        1455px 1519px black, 45px 602px black, 205px 1039px black, 793px 172px black,
        1562px 1739px black, 1056px 110px black, 1512px 379px black, 1795px 1621px black,
        1848px 607px black, 262px 1719px black, 477px 991px black, 483px 883px black,
        1239px 1197px black, 1496px 647px black, 1649px 25px black, 1491px 1946px black,
        119px 996px black, 179px 1472px black, 1341px 808px black, 1565px 1700px black,
        407px 1544px black, 1754px 357px black, 1288px 981px black, 902px 1997px black,
        1755px 1668px black, 186px 877px black, 1202px 1882px black, 461px 1213px black,
        1400px 748px black, 1969px 1899px black, 809px 522px black, 514px 1219px black,
        374px 275px black, 938px 1973px black, 357px 552px black, 144px 1722px black,
        1572px 912px black, 402px 1858px black, 1544px 1195px black, 667px 1257px black,
        727px 1496px black, 993px 232px black, 1772px 313px black, 1040px 1590px black,
        1204px 1973px black, 1268px 79px black, 1555px 1048px black, 986px 1707px black,
        978px 1710px black, 713px 360px black, 407px 863px black, 461px 736px black,
        284px 1608px black, 103px 430px black, 1283px 1319px black, 977px 1186px black,
        1966px 1516px black, 1287px 1129px black, 70px 1098px black, 1189px 889px black,
        1126px 1734px black, 309px 1292px black, 879px 764px black, 65px 473px black,
        1003px 1959px black, 658px 791px black, 402px 1576px black, 35px 622px black,
        529px 1589px black, 164px 666px black, 1876px 1290px black, 1541px 526px black,
        270px 1297px black, 440px 865px black, 1500px 802px black, 182px 1754px black,
        1264px 892px black, 272px 1249px black, 1289px 1535px black, 190px 1646px black,
        955px 242px black, 1456px 1597px black, 1727px 1983px black, 635px 801px black,
        226px 455px black, 1396px 1710px black, 849px 1863px black, 237px 1264px black,
        839px 140px black, 1122px 735px black, 1280px 15px black, 1318px 242px black,
        1819px 1148px black, 333px 1392px black, 1949px 553px black, 1878px 1332px black,
        467px 548px black, 1812px 1082px black, 1067px 193px black, 243px 156px black,
        483px 1616px black, 1714px 933px black, 759px 1800px black, 1822px 995px black,
        1877px 572px black, 581px 1084px black, 107px 732px black, 642px 1837px black,
        166px 1493px black, 1555px 198px black, 819px 307px black, 947px 345px black,
        827px 224px black, 927px 1394px black, 540px 467px black, 1093px 405px black,
        1140px 927px black, 130px 529px black, 33px 1980px black, 1147px 1663px black,
        1616px 1436px black, 528px 710px black, 798px 1100px black, 505px 1480px black,
        899px 641px black, 1909px 1949px black, 1311px 964px black, 979px 1301px black,
        1393px 969px black, 1793px 1886px black, 292px 357px black, 1196px 1718px black,
        1290px 1994px black, 537px 1973px black, 1181px 1674px black,
        1740px 1566px black, 1307px 265px black, 922px 522px black, 1892px 472px black,
        384px 1746px black, 392px 1098px black, 647px 548px black, 390px 1498px black,
        1246px 138px black, 730px 876px black, 192px 1472px black, 1790px 1789px black,
        928px 311px black, 1253px 1647px black, 747px 1921px black, 1561px 1025px black,
        1533px 1292px black, 1985px 195px black, 728px 729px black, 1712px 1936px black,
        512px 1717px black, 1528px 483px black, 313px 1642px black, 281px 1849px black,
        1212px 799px black, 435px 1191px black, 1422px 611px black, 1718px 1964px black,
        411px 944px black, 210px 636px black, 1502px 1295px black, 1434px 349px black,
        769px 60px black, 747px 1053px black, 789px 504px black, 1436px 1264px black,
        1893px 1225px black, 1394px 1788px black, 1108px 1317px black,
        1673px 1395px black, 854px 1010px black, 1705px 80px black, 1858px 148px black,
        1729px 344px black, 1388px 664px black, 895px 406px black, 1479px 157px black,
        1441px 1157px black, 552px 1900px black, 516px 364px black, 1647px 189px black,
        1427px 1071px black, 785px 729px black, 1080px 1710px black, 504px 204px black,
        1177px 1622px black, 657px 34px black, 1296px 1099px black, 248px 180px black,
        1212px 1568px black, 667px 1562px black, 695px 841px black, 1608px 1247px black,
        751px 882px black, 87px 167px black, 607px 1368px black, 1363px 1203px black,
        1836px 317px black, 1668px 1703px black, 830px 1154px black, 1721px 1398px black,
        1601px 1280px black, 976px 874px black, 1743px 254px black, 1020px 1815px black,
        1670px 1766px black, 1890px 735px black, 1379px 136px black, 1864px 695px black,
        206px 965px black, 1404px 1932px black, 1923px 1360px black, 247px 682px black,
        519px 1708px black, 645px 750px black, 1164px 1204px black, 834px 323px black,
        172px 1350px black, 213px 972px black, 1837px 190px black, 285px 1806px black,
        1047px 1299px black, 1548px 825px black, 1730px 324px black, 1346px 1909px black,
        772px 270px black, 345px 1190px black, 478px 1433px black, 1479px 25px black,
        1994px 1830px black, 1744px 732px black, 20px 1635px black, 690px 1795px black,
        1594px 569px black, 579px 245px black, 1398px 733px black, 408px 1352px black,
        1774px 120px black, 1152px 1370px black, 1698px 1810px black, 710px 1450px black,
        665px 286px black, 493px 1720px black, 786px 5px black, 637px 1140px black,
        764px 324px black, 927px 310px black, 938px 1424px black, 1884px 744px black,
        913px 462px black, 1831px 1936px black, 1527px 249px black, 36px 1381px black,
        1597px 581px black, 1530px 355px black, 949px 459px black, 799px 828px black,
        242px 1471px black, 654px 797px black, 796px 594px black, 1365px 678px black,
        752px 23px black, 1630px 541px black, 982px 72px black, 1733px 1831px black,
        21px 412px black, 775px 998px black, 335px 1945px black, 264px 583px black,
        158px 1311px black, 528px 164px black, 1978px 574px black, 717px 1203px black,
        734px 1591px black, 1555px 820px black, 16px 1943px black, 1625px 1177px black,
        1236px 690px black, 1585px 1590px black, 1737px 1728px black, 721px 698px black,
        1804px 1186px black, 166px 980px black, 1850px 230px black, 330px 1712px black,
        95px 797px black, 1948px 1078px black, 469px 939px black, 1269px 1899px black,
        955px 1220px black, 1137px 1075px black, 312px 1293px black, 986px 1762px black,
        1103px 1238px black, 428px 1993px black, 355px 570px black, 977px 1836px black,
        1395px 1092px black, 276px 913px black, 1743px 656px black, 773px 502px black,
        1686px 1322px black, 1516px 1945px black, 1334px 501px black, 266px 156px black,
        455px 655px black, 798px 72px black, 1059px 1259px black, 1402px 1687px black,
        236px 1329px black, 1455px 786px black, 146px 1228px black, 1851px 823px black,
        1062px 100px black, 1220px 953px black, 20px 1826px black, 36px 1063px black,
        1525px 338px black, 790px 1521px black, 741px 1099px black, 288px 1489px black,
        700px 1060px black, 390px 1071px black, 411px 1036px black, 1853px 1072px black,
        1446px 1085px black, 1164px 874px black, 924px 925px black, 291px 271px black,
        1257px 1964px black, 1580px 1352px black, 1507px 1216px black, 211px 956px black,
        985px 1195px black, 975px 1640px black, 518px 101px black, 663px 1395px black,
        914px 532px black, 145px 1320px black, 69px 1397px black, 982px 523px black,
        257px 725px black, 1599px 831px black, 1636px 1513px black, 1250px 1158px black,
        1132px 604px black, 183px 102px black, 1057px 318px black, 1247px 1835px black,
        1983px 1110px black, 1077px 1455px black, 921px 1770px black, 806px 1350px black,
        1938px 1992px black, 855px 1260px black, 902px 1345px black, 658px 1908px black,
        1845px 679px black, 712px 1482px black, 595px 950px black, 1784px 1992px black,
        1847px 1785px black, 691px 1004px black, 175px 1179px black, 1666px 1911px black,
        41px 61px black, 971px 1080px black, 1830px 1450px black, 1351px 1518px black,
        1257px 99px black, 1395px 1498px black, 1117px 252px black, 1779px 597px black,
        1346px 729px black, 1108px 1144px black, 402px 691px black, 72px 496px black,
        1673px 1604px black, 1497px 974px black, 1865px 1664px black, 88px 806px black,
        918px 77px black, 244px 1118px black, 256px 1820px black, 1851px 1840px black,
        605px 1851px black, 634px 383px black, 865px 37px black, 943px 1024px black,
        1951px 177px black, 1097px 523px black, 985px 1700px black, 1243px 122px black,
        768px 1070px black, 468px 194px black, 320px 1867px black, 1850px 185px black,
        380px 1616px black, 468px 1294px black, 1122px 1743px black, 884px 299px black,
        1300px 1917px black, 1860px 396px black, 1270px 990px black, 529px 733px black,
        1975px 1347px black, 1885px 685px black, 226px 506px black, 651px 878px black,
        1323px 680px black, 1284px 680px black, 238px 1967px black, 911px 174px black,
        1111px 521px black, 1150px 85px black, 794px 502px black, 484px 1856px black,
        1809px 368px black, 112px 953px black, 590px 1009px black, 1655px 311px black,
        100px 1026px black, 1803px 352px black, 865px 306px black, 1077px 1019px black,
        1335px 872px black, 1647px 1298px black, 1233px 1387px black, 698px 1036px black,
        659px 1860px black, 388px 1412px black, 1212px 458px black, 755px 1468px black,
        696px 1654px black, 1144px 60px black;
 }
 
 #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px black, 1775px 1663px black, 332px 1364px black,
        878px 340px black, 569px 1832px black, 1422px 1684px black, 1946px 1907px black,
        121px 979px black, 1044px 1069px black, 463px 381px black, 423px 112px black,
        523px 1179px black, 779px 654px black, 1398px 694px black, 1085px 1464px black,
        1599px 1869px black, 801px 1882px black, 779px 1231px black, 552px 932px black,
        1057px 1196px black, 282px 1280px black, 496px 1986px black, 1833px 1120px black,
        1802px 1293px black, 6px 1696px black, 412px 1902px black, 605px 438px black,
        24px 1212px black, 234px 1320px black, 544px 344px black, 1107px 170px black,
        1603px 196px black, 905px 648px black, 68px 1458px black, 649px 1969px black,
        744px 675px black, 1127px 478px black, 714px 1814px black, 1486px 526px black,
        270px 1636px black, 1931px 149px black, 1807px 378px black, 8px 390px black,
        1415px 699px black, 1473px 1211px black, 1590px 141px black, 270px 1705px black,
        69px 1423px black, 1108px 1053px black, 1946px 128px black, 371px 371px black,
        1490px 220px black, 357px 1885px black, 363px 363px black, 1896px 1256px black,
        1979px 1050px black, 947px 1342px black, 1754px 242px black, 514px 974px black,
        65px 1477px black, 1840px 547px black, 950px 695px black, 459px 1150px black,
        1124px 1502px black, 481px 940px black, 680px 839px black, 797px 1169px black,
        1977px 1491px black, 734px 1724px black, 210px 298px black, 816px 628px black,
        686px 770px black, 1721px 267px black, 1663px 511px black, 1481px 1141px black,
        582px 248px black, 1308px 953px black, 628px 657px black, 897px 1535px black,
        270px 931px black, 791px 467px black, 1336px 1732px black, 1013px 1653px black,
        1911px 956px black, 587px 816px black, 83px 456px black, 930px 1478px black,
        1587px 1694px black, 614px 1200px black, 302px 1782px black, 1711px 1432px black,
        443px 904px black, 1666px 714px black, 1588px 1167px black, 273px 1075px black,
        1679px 461px black, 721px 664px black, 1202px 10px black, 166px 1126px black,
        331px 1628px black, 430px 1565px black, 1585px 509px black, 640px 38px black,
        822px 837px black, 1760px 1664px black, 1122px 1458px black, 398px 131px black,
        689px 285px black, 460px 652px black, 1627px 365px black, 348px 1648px black,
        819px 1946px black, 981px 1917px black, 323px 76px black, 979px 684px black,
        887px 536px black, 1348px 1596px black, 1055px 666px black, 1402px 1797px black,
        1300px 1055px black, 937px 238px black, 1474px 1815px black, 1144px 1710px black,
        1629px 1087px black, 911px 919px black, 771px 819px black, 403px 720px black,
        163px 736px black, 1062px 238px black, 1774px 818px black, 1874px 1178px black,
        1177px 699px black, 1244px 1244px black, 1371px 58px black, 564px 1515px black,
        1824px 487px black, 929px 702px black, 394px 1348px black, 1161px 641px black,
        219px 1841px black, 358px 941px black, 140px 1759px black, 1019px 1345px black,
        274px 436px black, 1433px 1605px black, 1798px 1426px black, 294px 1848px black,
        1681px 1877px black, 1344px 1824px black, 1439px 1632px black,
        161px 1012px black, 1308px 588px black, 1789px 582px black, 721px 1910px black,
        318px 218px black, 607px 319px black, 495px 535px black, 1552px 1575px black,
        1562px 67px black, 403px 926px black, 1096px 1800px black, 1814px 1709px black,
        1882px 1831px black, 533px 46px black, 823px 969px black, 530px 165px black,
        1030px 352px black, 1681px 313px black, 338px 115px black, 1607px 211px black,
        1718px 1184px black, 1589px 659px black, 278px 355px black, 464px 1464px black,
        1165px 277px black, 950px 694px black, 1746px 293px black, 793px 911px black,
        528px 773px black, 1883px 1694px black, 748px 182px black, 1924px 1531px black,
        100px 636px black, 1473px 1445px black, 1264px 1244px black, 850px 1377px black,
        987px 1976px black, 933px 1761px black, 922px 1270px black, 500px 396px black,
        1324px 8px black, 1967px 1814px black, 1072px 1401px black, 961px 37px black,
        156px 81px black, 1915px 502px black, 1076px 1846px black, 152px 1669px black,
        986px 1529px black, 1667px 1137px black;
 }
 
 #stars2::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px black, 1775px 1663px black, 332px 1364px black,
        878px 340px black, 569px 1832px black, 1422px 1684px black, 1946px 1907px black,
        121px 979px black, 1044px 1069px black, 463px 381px black, 423px 112px black,
        523px 1179px black, 779px 654px black, 1398px 694px black, 1085px 1464px black,
        1599px 1869px black, 801px 1882px black, 779px 1231px black, 552px 932px black,
        1057px 1196px black, 282px 1280px black, 496px 1986px black, 1833px 1120px black,
        1802px 1293px black, 6px 1696px black, 412px 1902px black, 605px 438px black,
        24px 1212px black, 234px 1320px black, 544px 344px black, 1107px 170px black,
        1603px 196px black, 905px 648px black, 68px 1458px black, 649px 1969px black,
        744px 675px black, 1127px 478px black, 714px 1814px black, 1486px 526px black,
        270px 1636px black, 1931px 149px black, 1807px 378px black, 8px 390px black,
        1415px 699px black, 1473px 1211px black, 1590px 141px black, 270px 1705px black,
        69px 1423px black, 1108px 1053px black, 1946px 128px black, 371px 371px black,
        1490px 220px black, 357px 1885px black, 363px 363px black, 1896px 1256px black,
        1979px 1050px black, 947px 1342px black, 1754px 242px black, 514px 974px black,
        65px 1477px black, 1840px 547px black, 950px 695px black, 459px 1150px black,
        1124px 1502px black, 481px 940px black, 680px 839px black, 797px 1169px black,
        1977px 1491px black, 734px 1724px black, 210px 298px black, 816px 628px black,
        686px 770px black, 1721px 267px black, 1663px 511px black, 1481px 1141px black,
        582px 248px black, 1308px 953px black, 628px 657px black, 897px 1535px black,
        270px 931px black, 791px 467px black, 1336px 1732px black, 1013px 1653px black,
        1911px 956px black, 587px 816px black, 83px 456px black, 930px 1478px black,
        1587px 1694px black, 614px 1200px black, 302px 1782px black, 1711px 1432px black,
        443px 904px black, 1666px 714px black, 1588px 1167px black, 273px 1075px black,
        1679px 461px black, 721px 664px black, 1202px 10px black, 166px 1126px black,
        331px 1628px black, 430px 1565px black, 1585px 509px black, 640px 38px black,
        822px 837px black, 1760px 1664px black, 1122px 1458px black, 398px 131px black,
        689px 285px black, 460px 652px black, 1627px 365px black, 348px 1648px black,
        819px 1946px black, 981px 1917px black, 323px 76px black, 979px 684px black,
        887px 536px black, 1348px 1596px black, 1055px 666px black, 1402px 1797px black,
        1300px 1055px black, 937px 238px black, 1474px 1815px black, 1144px 1710px black,
        1629px 1087px black, 911px 919px black, 771px 819px black, 403px 720px black,
        163px 736px black, 1062px 238px black, 1774px 818px black, 1874px 1178px black,
        1177px 699px black, 1244px 1244px black, 1371px 58px black, 564px 1515px black,
        1824px 487px black, 929px 702px black, 394px 1348px black, 1161px 641px black,
        219px 1841px black, 358px 941px black, 140px 1759px black, 1019px 1345px black,
        274px 436px black, 1433px 1605px black, 1798px 1426px black, 294px 1848px black,
        1681px 1877px black, 1344px 1824px black, 1439px 1632px black,
        161px 1012px black, 1308px 588px black, 1789px 582px black, 721px 1910px black,
        318px 218px black, 607px 319px black, 495px 535px black, 1552px 1575px black,
        1562px 67px black, 403px 926px black, 1096px 1800px black, 1814px 1709px black,
        1882px 1831px black, 533px 46px black, 823px 969px black, 530px 165px black,
        1030px 352px black, 1681px 313px black, 338px 115px black, 1607px 211px black,
        1718px 1184px black, 1589px 659px black, 278px 355px black, 464px 1464px black,
        1165px 277px black, 950px 694px black, 1746px 293px black, 793px 911px black,
        528px 773px black, 1883px 1694px black, 748px 182px black, 1924px 1531px black,
        100px 636px black, 1473px 1445px black, 1264px 1244px black, 850px 1377px black,
        987px 1976px black, 933px 1761px black, 922px 1270px black, 500px 396px black,
        1324px 8px black, 1967px 1814px black, 1072px 1401px black, 961px 37px black,
        156px 81px black, 1915px 502px black, 1076px 1846px black, 152px 1669px black,
        986px 1529px black, 1667px 1137px black;
 }
 
 #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
    box-shadow: 387px 1878px black, 760px 1564px black, 1487px 999px black,
        948px 1828px black, 1977px 1001px black, 1284px 1963px black, 656px 284px black,
        1268px 1635px black, 1820px 598px black, 642px 1900px black, 296px 57px black,
        921px 1620px black, 476px 1858px black, 658px 613px black, 1171px 1363px black,
        1419px 283px black, 1037px 731px black, 503px 663px black, 1562px 463px black,
        383px 1197px black, 1171px 1233px black, 876px 1768px black, 856px 1615px black,
        1375px 1924px black, 1725px 918px black, 952px 119px black, 768px 1212px black,
        992px 1462px black, 1929px 717px black, 1947px 755px black, 1818px 1123px black,
        1896px 1672px black, 460px 198px black, 256px 271px black, 752px 544px black,
        1222px 1859px black, 1851px 443px black, 313px 1858px black, 709px 446px black,
        1546px 697px black, 674px 1155px black, 1112px 130px black, 355px 1790px black,
        1496px 974px black, 1696px 480px black, 1316px 1265px black, 1645px 1063px black,
        1182px 237px black, 427px 1582px black, 859px 253px black, 458px 939px black,
        1517px 1644px black, 1943px 60px black, 212px 1650px black, 966px 1786px black,
        473px 712px black, 130px 76px black, 1417px 1186px black, 909px 1580px black,
        1913px 762px black, 204px 1143px black, 1998px 1057px black, 1468px 1301px black,
        144px 1676px black, 21px 1601px black, 382px 1362px black, 912px 753px black,
        1488px 1405px black, 802px 156px black, 174px 550px black, 338px 1366px black,
        1197px 774px black, 602px 486px black, 682px 1877px black, 348px 1503px black,
        407px 1139px black, 950px 1400px black, 922px 1139px black, 1697px 293px black,
        1238px 1281px black, 1038px 1197px black, 376px 1889px black,
        1255px 1680px black, 1008px 1316px black, 1538px 1447px black,
        1186px 874px black, 1967px 640px black, 1341px 19px black, 29px 1732px black,
        16px 1650px black, 1021px 1075px black, 723px 424px black, 1175px 41px black,
        494px 1957px black, 1296px 431px black, 175px 1507px black, 831px 121px black,
        498px 1947px black, 617px 880px black, 240px 403px black;
 }
 
 #stars3::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px black, 760px 1564px black, 1487px 999px black,
        948px 1828px black, 1977px 1001px black, 1284px 1963px black, 656px 284px black,
        1268px 1635px black, 1820px 598px black, 642px 1900px black, 296px 57px black,
        921px 1620px black, 476px 1858px black, 658px 613px black, 1171px 1363px black,
        1419px 283px black, 1037px 731px black, 503px 663px black, 1562px 463px black,
        383px 1197px black, 1171px 1233px black, 876px 1768px black, 856px 1615px black,
        1375px 1924px black, 1725px 918px black, 952px 119px black, 768px 1212px black,
        992px 1462px black, 1929px 717px black, 1947px 755px black, 1818px 1123px black,
        1896px 1672px black, 460px 198px black, 256px 271px black, 752px 544px black,
        1222px 1859px black, 1851px 443px black, 313px 1858px black, 709px 446px black,
        1546px 697px black, 674px 1155px black, 1112px 130px black, 355px 1790px black,
        1496px 974px black, 1696px 480px black, 1316px 1265px black, 1645px 1063px black,
        1182px 237px black, 427px 1582px black, 859px 253px black, 458px 939px black,
        1517px 1644px black, 1943px 60px black, 212px 1650px black, 966px 1786px black,
        473px 712px black, 130px 76px black, 1417px 1186px black, 909px 1580px black,
        1913px 762px black, 204px 1143px black, 1998px 1057px black, 1468px 1301px black,
        144px 1676px black, 21px 1601px black, 382px 1362px black, 912px 753px black,
        1488px 1405px black, 802px 156px black, 174px 550px black, 338px 1366px black,
        1197px 774px black, 602px 486px black, 682px 1877px black, 348px 1503px black,
        407px 1139px black, 950px 1400px black, 922px 1139px black, 1697px 293px black,
        1238px 1281px black, 1038px 1197px black, 376px 1889px black,
        1255px 1680px black, 1008px 1316px black, 1538px 1447px black,
        1186px 874px black, 1967px 640px black, 1341px 19px black, 29px 1732px black,
        16px 1650px black, 1021px 1075px black, 723px 424px black, 1175px 41px black,
        494px 1957px black, 1296px 431px black, 175px 1507px black, 831px 121px black,
        498px 1947px black, 617px 880px black, 240px 403px black;
 }
 
 @keyframes animStar {
    from {
        transform: translateY(0px);
    }
 
    to {
        transform: translateY(-2000px);
    }
 }
