@import url(../Fonts/fonts.css);

*{
    font-family: 'clashR';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url('https://s2.glbimg.com/BfNmNgKXUTcTraJdl_wblsv6KDU=/0x0:1200x675/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/z/M/HL5EvQRBAvOtAn2Tz4Dw/gow-1.0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

body::-webkit-scrollbar{
    display: none;
}

.btn-sair{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: .3s;
}

btn-sair:hover{
    background-color: black;
    color: white;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.quiz-form{
    width: 50%; 
    height: 70%;
    background-image: linear-gradient(white 5% , rgba(255, 255, 255, 0.822) 100%);;
    border-radius: 10px;
    padding: 30px;
    transition: .2s;
    opacity:0;
    z-index: 5;
}

.quiz{
    padding: 20px 0;
}

.upper-question{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 0;
    flex-direction: row;
    align-items: center;
}

.quiz-form h1{
    font-size: 25px;
    padding-bottom: 20px;

}

.upper-part{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.timer{
    font-size: 20px;
}

.quiz h2{
    font-size: 20px;
    font-weight: 500;
   
}

.respostas{
    display: flex;
    flex-direction: column;
}

.btn-resposta {
    background: white ;
    font-size: 18px;
    color: #222;
    width: 100%;
    border: 1px solid #262727;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all .3s;
}

.div-btn-proximo{
    padding: 25px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.btn-resposta:hover:not([disabled]){
    background-color: #222;
    color: white;
}


.btn-proximo{
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 12px 45px ;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    
}

.btn-proximo:hover{
    transition: .1s;
    background-color: rgb(51, 51, 54);;
}


.correta{
 background-color: #00de60;
 border-radius: 5px;
}

.incorreta{
background-color: #ff9393;
}


.verClassificacao{
    font-size: 20px;
    cursor: pointer;
}
.verClassificacao:hover{
    border-bottom: #000000 2px solid;
}


.classificacao-container{
    width: 100%;
    height: 200px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.classificacao-container::-webkit-scrollbar {
    width: 10px;
  }

 

  .classificacao-container::-webkit-scrollbar-thumb {
    background-color: #0d0d0d;
    border-radius: 10px;
  }
.resultados-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
}





.topicos{
    width: 100%;
    display: none;
    justify-content: space-between;
    font-size: 22px;
    border-bottom: 1px solid black;
}

.tituloResultadoRanking{
    display: flex;
    width: 30%;
    justify-content: space-around;
    
}



.tentativa-ranking{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultadosRanking{
    display: flex;
    width: 25%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    
}



.confirmacao-sair{
       border-radius: 15px;
       position: fixed;
       width: 30%;
       height: 25%;
       top:50%; left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fff;
       z-index: 999;
       transition: .4s;
       opacity: 0;
       display: none;
 }
 .confirmacao-sair h2{
 padding: 15px 0;
 width: 100%;
 text-align: center;
 }
 
 .grupo-botoes-sair{
    width: 100%;
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    
 }
 .grupo-botoes-sair button{
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 10px 0;
    font-size: 18px;
    background-color: black;
    color: white;
    transition: .2s;
    cursor: pointer;
 }
 
 .grupo-botoes-sair button:hover{
    background-color: rgb(59, 59, 59);
 }
 .grupo-botoes-sair button:active{
    transition: 0s;
    transform: scale(1.02);
 }

 .tentativaAtual{
    background-color: #aeaeae;
    border-radius: 5px;
 }
 

 .confirmacao-quiz{
    border-radius: 15px;
       position: fixed;
       width: 28%;
       height: 22%;
       top:50%; left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fff;
       z-index: 999;
       transition: .4s;
       opacity: 0;
       display: none;
 }
 .confirmacao-quiz h2{
 padding: 15px 0;
 width: 100%;
 text-align:  center;
 }
 
 .grupo-botoes-quiz{
    width: 100%;
    padding: 5px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    
 }
 .grupo-botoes-quiz button{
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 10px 0;
    font-size: 18px;
    background-color: black;
    color: white;
    transition: .2s;
    cursor: pointer;
 }
 
 .grupo-botoes-quiz button:hover{
    background-color: rgb(59, 59, 59);
 }
 .grupo-botoes-quiz button:active{
    transition: 0s;
    transform: scale(1.02);
 }


