.wrapper {
    height: 100%;
    width: 100%;
 }
 
 #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    position: relative;
    z-index: 1;
    box-shadow: 779px 1331px #00a1d5, 324px 42px #00a1d5, 303px 586px #00a1d5,
        1312px 276px #00a1d5, 451px 625px #00a1d5, 521px 1931px #00a1d5, 1087px 1871px #00a1d5,
        36px 1546px #00a1d5, 132px 934px #00a1d5, 1698px 901px #00a1d5, 1418px 664px #00a1d5,
        1448px 1157px #00a1d5, 1084px 232px #00a1d5, 347px 1776px #00a1d5, 1722px 243px #00a1d5,
        1629px 835px #00a1d5, 479px 969px #00a1d5, 1231px 960px #00a1d5, 586px 384px #00a1d5,
        164px 527px #00a1d5, 8px 646px #00a1d5, 1150px 1126px #00a1d5, 665px 1357px #00a1d5,
        1556px 1982px #00a1d5, 1260px 1961px #00a1d5, 1675px 1741px #00a1d5,
        1843px 1514px #00a1d5, 718px 1628px #00a1d5, 242px 1343px #00a1d5, 1497px 1880px #00a1d5,
        1364px 230px #00a1d5, 1739px 1302px #00a1d5, 636px 959px #00a1d5, 304px 686px #00a1d5,
        614px 751px #00a1d5, 1935px 816px #00a1d5, 1428px 60px #00a1d5, 355px 335px #00a1d5,
        1594px 158px #00a1d5, 90px 60px #00a1d5, 1553px 162px #00a1d5, 1239px 1825px #00a1d5,
        1945px 587px #00a1d5, 749px 1785px #00a1d5, 1987px 1172px #00a1d5, 1301px 1237px #00a1d5,
        1039px 342px #00a1d5, 1585px 1481px #00a1d5, 995px 1048px #00a1d5, 524px 932px #00a1d5,
        214px 413px #00a1d5, 1701px 1300px #00a1d5, 1037px 1613px #00a1d5, 1871px 996px #00a1d5,
        1360px 1635px #00a1d5, 1110px 1313px #00a1d5, 412px 1783px #00a1d5, 1949px 177px #00a1d5,
        903px 1854px #00a1d5, 700px 1936px #00a1d5, 378px 125px #00a1d5, 308px 834px #00a1d5,
        1118px 962px #00a1d5, 1350px 1929px #00a1d5, 781px 1811px #00a1d5, 561px 137px #00a1d5,
        757px 1148px #00a1d5, 1670px 1979px #00a1d5, 343px 739px #00a1d5, 945px 795px #00a1d5,
        576px 1903px #00a1d5, 1078px 1436px #00a1d5, 1583px 450px #00a1d5, 1366px 474px #00a1d5,
        297px 1873px #00a1d5, 192px 162px #00a1d5, 1624px 1633px #00a1d5, 59px 453px #00a1d5,
        82px 1872px #00a1d5, 1933px 498px #00a1d5, 1966px 1974px #00a1d5, 1975px 1688px #00a1d5,
        779px 314px #00a1d5, 1858px 1543px #00a1d5, 73px 1507px #00a1d5, 1693px 975px #00a1d5,
        1683px 108px #00a1d5, 1768px 1654px #00a1d5, 654px 14px #00a1d5, 494px 171px #00a1d5,
        1689px 1895px #00a1d5, 1660px 263px #00a1d5, 1031px 903px #00a1d5, 1203px 1393px #00a1d5,
        1333px 1421px #00a1d5, 1113px 41px #00a1d5, 1206px 1645px #00a1d5, 1325px 1635px #00a1d5,
        142px 388px #00a1d5, 572px 215px #00a1d5, 1535px 296px #00a1d5, 1419px 407px #00a1d5,
        1379px 1003px #00a1d5, 329px 469px #00a1d5, 1791px 1652px #00a1d5, 935px 1802px #00a1d5,
        1330px 1820px #00a1d5, 421px 1933px #00a1d5, 828px 365px #00a1d5, 275px 316px #00a1d5,
        707px 960px #00a1d5, 1605px 1554px #00a1d5, 625px 58px #00a1d5, 717px 1697px #00a1d5,
        1669px 246px #00a1d5, 1925px 322px #00a1d5, 1154px 1803px #00a1d5, 1929px 295px #00a1d5,
        1248px 240px #00a1d5, 1045px 1755px #00a1d5, 166px 942px #00a1d5, 1888px 1773px #00a1d5,
        678px 1963px #00a1d5, 1370px 569px #00a1d5, 1974px 1400px #00a1d5, 1786px 460px #00a1d5,
        51px 307px #00a1d5, 784px 1400px #00a1d5, 730px 1258px #00a1d5, 1712px 393px #00a1d5,
        416px 170px #00a1d5, 1797px 1932px #00a1d5, 572px 219px #00a1d5, 1557px 1856px #00a1d5,
        218px 8px #00a1d5, 348px 1334px #00a1d5, 469px 413px #00a1d5, 385px 1738px #00a1d5,
        1357px 1818px #00a1d5, 240px 942px #00a1d5, 248px 1847px #00a1d5, 1535px 806px #00a1d5,
        236px 1514px #00a1d5, 1429px 1556px #00a1d5, 73px 1633px #00a1d5, 1398px 1121px #00a1d5,
        671px 1301px #00a1d5, 1404px 1663px #00a1d5, 740px 1018px #00a1d5, 1600px 377px #00a1d5,
        785px 514px #00a1d5, 112px 1084px #00a1d5, 1915px 1887px #00a1d5, 1463px 1848px #00a1d5,
        687px 1115px #00a1d5, 1268px 1768px #00a1d5, 1729px 1425px #00a1d5,
        1284px 1022px #00a1d5, 801px 974px #00a1d5, 1975px 1317px #00a1d5, 1354px 834px #00a1d5,
        1446px 1484px #00a1d5, 1283px 1786px #00a1d5, 11px 523px #00a1d5, 1842px 236px #00a1d5,
        1355px 654px #00a1d5, 429px 7px #00a1d5, 1033px 1128px #00a1d5, 157px 297px #00a1d5,
        545px 635px #00a1d5, 52px 1080px #00a1d5, 827px 1520px #00a1d5, 1121px 490px #00a1d5,
        9px 309px #00a1d5, 1744px 1586px #00a1d5, 1014px 417px #00a1d5, 1534px 524px #00a1d5,
        958px 552px #00a1d5, 1403px 1496px #00a1d5, 387px 703px #00a1d5, 1522px 548px #00a1d5,
        1355px 282px #00a1d5, 1532px 601px #00a1d5, 1838px 790px #00a1d5, 290px 259px #00a1d5,
        295px 598px #00a1d5, 1601px 539px #00a1d5, 1561px 1272px #00a1d5, 34px 1922px #00a1d5,
        1024px 543px #00a1d5, 467px 369px #00a1d5, 722px 333px #00a1d5, 1976px 1255px #00a1d5,
        766px 983px #00a1d5, 1582px 1285px #00a1d5, 12px 512px #00a1d5, 617px 1410px #00a1d5,
        682px 577px #00a1d5, 1334px 1438px #00a1d5, 439px 327px #00a1d5, 1617px 1661px #00a1d5,
        673px 129px #00a1d5, 794px 941px #00a1d5, 1386px 1902px #00a1d5, 37px 1353px #00a1d5,
        1467px 1353px #00a1d5, 416px 18px #00a1d5, 187px 344px #00a1d5, 200px 1898px #00a1d5,
        1491px 1619px #00a1d5, 811px 347px #00a1d5, 924px 1827px #00a1d5, 945px 217px #00a1d5,
        1735px 1228px #00a1d5, 379px 1890px #00a1d5, 79px 761px #00a1d5, 825px 1837px #00a1d5,
        1980px 1558px #00a1d5, 1308px 1573px #00a1d5, 1488px 1726px #00a1d5,
        382px 1208px #00a1d5, 522px 595px #00a1d5, 1277px 1898px #00a1d5, 354px 552px #00a1d5,
        161px 1784px #00a1d5, 614px 251px #00a1d5, 526px 1576px #00a1d5, 17px 212px #00a1d5,
        179px 996px #00a1d5, 467px 1208px #00a1d5, 1944px 1838px #00a1d5, 1140px 1093px #00a1d5,
        858px 1007px #00a1d5, 200px 1064px #00a1d5, 423px 1964px #00a1d5, 1945px 439px #00a1d5,
        1377px 689px #00a1d5, 1120px 1437px #00a1d5, 1876px 668px #00a1d5, 907px 1324px #00a1d5,
        343px 1976px #00a1d5, 1816px 1501px #00a1d5, 1849px 177px #00a1d5, 647px 91px #00a1d5,
        1984px 1012px #00a1d5, 1336px 1300px #00a1d5, 128px 648px #00a1d5, 305px 1060px #00a1d5,
        1324px 826px #00a1d5, 1263px 1314px #00a1d5, 1801px 629px #00a1d5, 1614px 1555px #00a1d5,
        1634px 90px #00a1d5, 1603px 452px #00a1d5, 891px 1984px #00a1d5, 1556px 1906px #00a1d5,
        121px 68px #00a1d5, 1676px 1714px #00a1d5, 516px 936px #00a1d5, 1947px 1492px #00a1d5,
        1455px 1519px #00a1d5, 45px 602px #00a1d5, 205px 1039px #00a1d5, 793px 172px #00a1d5,
        1562px 1739px #00a1d5, 1056px 110px #00a1d5, 1512px 379px #00a1d5, 1795px 1621px #00a1d5,
        1848px 607px #00a1d5, 262px 1719px #00a1d5, 477px 991px #00a1d5, 483px 883px #00a1d5,
        1239px 1197px #00a1d5, 1496px 647px #00a1d5, 1649px 25px #00a1d5, 1491px 1946px #00a1d5,
        119px 996px #00a1d5, 179px 1472px #00a1d5, 1341px 808px #00a1d5, 1565px 1700px #00a1d5,
        407px 1544px #00a1d5, 1754px 357px #00a1d5, 1288px 981px #00a1d5, 902px 1997px #00a1d5,
        1755px 1668px #00a1d5, 186px 877px #00a1d5, 1202px 1882px #00a1d5, 461px 1213px #00a1d5,
        1400px 748px #00a1d5, 1969px 1899px #00a1d5, 809px 522px #00a1d5, 514px 1219px #00a1d5,
        374px 275px #00a1d5, 938px 1973px #00a1d5, 357px 552px #00a1d5, 144px 1722px #00a1d5,
        1572px 912px #00a1d5, 402px 1858px #00a1d5, 1544px 1195px #00a1d5, 667px 1257px #00a1d5,
        727px 1496px #00a1d5, 993px 232px #00a1d5, 1772px 313px #00a1d5, 1040px 1590px #00a1d5,
        1204px 1973px #00a1d5, 1268px 79px #00a1d5, 1555px 1048px #00a1d5, 986px 1707px #00a1d5,
        978px 1710px #00a1d5, 713px 360px #00a1d5, 407px 863px #00a1d5, 461px 736px #00a1d5,
        284px 1608px #00a1d5, 103px 430px #00a1d5, 1283px 1319px #00a1d5, 977px 1186px #00a1d5,
        1966px 1516px #00a1d5, 1287px 1129px #00a1d5, 70px 1098px #00a1d5, 1189px 889px #00a1d5,
        1126px 1734px #00a1d5, 309px 1292px #00a1d5, 879px 764px #00a1d5, 65px 473px #00a1d5,
        1003px 1959px #00a1d5, 658px 791px #00a1d5, 402px 1576px #00a1d5, 35px 622px #00a1d5,
        529px 1589px #00a1d5, 164px 666px #00a1d5, 1876px 1290px #00a1d5, 1541px 526px #00a1d5,
        270px 1297px #00a1d5, 440px 865px #00a1d5, 1500px 802px #00a1d5, 182px 1754px #00a1d5,
        1264px 892px #00a1d5, 272px 1249px #00a1d5, 1289px 1535px #00a1d5, 190px 1646px #00a1d5,
        955px 242px #00a1d5, 1456px 1597px #00a1d5, 1727px 1983px #00a1d5, 635px 801px #00a1d5,
        226px 455px #00a1d5, 1396px 1710px #00a1d5, 849px 1863px #00a1d5, 237px 1264px #00a1d5,
        839px 140px #00a1d5, 1122px 735px #00a1d5, 1280px 15px #00a1d5, 1318px 242px #00a1d5,
        1819px 1148px #00a1d5, 333px 1392px #00a1d5, 1949px 553px #00a1d5, 1878px 1332px #00a1d5,
        467px 548px #00a1d5, 1812px 1082px #00a1d5, 1067px 193px #00a1d5, 243px 156px #00a1d5,
        483px 1616px #00a1d5, 1714px 933px #00a1d5, 759px 1800px #00a1d5, 1822px 995px #00a1d5,
        1877px 572px #00a1d5, 581px 1084px #00a1d5, 107px 732px #00a1d5, 642px 1837px #00a1d5,
        166px 1493px #00a1d5, 1555px 198px #00a1d5, 819px 307px #00a1d5, 947px 345px #00a1d5,
        827px 224px #00a1d5, 927px 1394px #00a1d5, 540px 467px #00a1d5, 1093px 405px #00a1d5,
        1140px 927px #00a1d5, 130px 529px #00a1d5, 33px 1980px #00a1d5, 1147px 1663px #00a1d5,
        1616px 1436px #00a1d5, 528px 710px #00a1d5, 798px 1100px #00a1d5, 505px 1480px #00a1d5,
        899px 641px #00a1d5, 1909px 1949px #00a1d5, 1311px 964px #00a1d5, 979px 1301px #00a1d5,
        1393px 969px #00a1d5, 1793px 1886px #00a1d5, 292px 357px #00a1d5, 1196px 1718px #00a1d5,
        1290px 1994px #00a1d5, 537px 1973px #00a1d5, 1181px 1674px #00a1d5,
        1740px 1566px #00a1d5, 1307px 265px #00a1d5, 922px 522px #00a1d5, 1892px 472px #00a1d5,
        384px 1746px #00a1d5, 392px 1098px #00a1d5, 647px 548px #00a1d5, 390px 1498px #00a1d5,
        1246px 138px #00a1d5, 730px 876px #00a1d5, 192px 1472px #00a1d5, 1790px 1789px #00a1d5,
        928px 311px #00a1d5, 1253px 1647px #00a1d5, 747px 1921px #00a1d5, 1561px 1025px #00a1d5,
        1533px 1292px #00a1d5, 1985px 195px #00a1d5, 728px 729px #00a1d5, 1712px 1936px #00a1d5,
        512px 1717px #00a1d5, 1528px 483px #00a1d5, 313px 1642px #00a1d5, 281px 1849px #00a1d5,
        1212px 799px #00a1d5, 435px 1191px #00a1d5, 1422px 611px #00a1d5, 1718px 1964px #00a1d5,
        411px 944px #00a1d5, 210px 636px #00a1d5, 1502px 1295px #00a1d5, 1434px 349px #00a1d5,
        769px 60px #00a1d5, 747px 1053px #00a1d5, 789px 504px #00a1d5, 1436px 1264px #00a1d5,
        1893px 1225px #00a1d5, 1394px 1788px #00a1d5, 1108px 1317px #00a1d5,
        1673px 1395px #00a1d5, 854px 1010px #00a1d5, 1705px 80px #00a1d5, 1858px 148px #00a1d5,
        1729px 344px #00a1d5, 1388px 664px #00a1d5, 895px 406px #00a1d5, 1479px 157px #00a1d5,
        1441px 1157px #00a1d5, 552px 1900px #00a1d5, 516px 364px #00a1d5, 1647px 189px #00a1d5,
        1427px 1071px #00a1d5, 785px 729px #00a1d5, 1080px 1710px #00a1d5, 504px 204px #00a1d5,
        1177px 1622px #00a1d5, 657px 34px #00a1d5, 1296px 1099px #00a1d5, 248px 180px #00a1d5,
        1212px 1568px #00a1d5, 667px 1562px #00a1d5, 695px 841px #00a1d5, 1608px 1247px #00a1d5,
        751px 882px #00a1d5, 87px 167px #00a1d5, 607px 1368px #00a1d5, 1363px 1203px #00a1d5,
        1836px 317px #00a1d5, 1668px 1703px #00a1d5, 830px 1154px #00a1d5, 1721px 1398px #00a1d5,
        1601px 1280px #00a1d5, 976px 874px #00a1d5, 1743px 254px #00a1d5, 1020px 1815px #00a1d5,
        1670px 1766px #00a1d5, 1890px 735px #00a1d5, 1379px 136px #00a1d5, 1864px 695px #00a1d5,
        206px 965px #00a1d5, 1404px 1932px #00a1d5, 1923px 1360px #00a1d5, 247px 682px #00a1d5,
        519px 1708px #00a1d5, 645px 750px #00a1d5, 1164px 1204px #00a1d5, 834px 323px #00a1d5,
        172px 1350px #00a1d5, 213px 972px #00a1d5, 1837px 190px #00a1d5, 285px 1806px #00a1d5,
        1047px 1299px #00a1d5, 1548px 825px #00a1d5, 1730px 324px #00a1d5, 1346px 1909px #00a1d5,
        772px 270px #00a1d5, 345px 1190px #00a1d5, 478px 1433px #00a1d5, 1479px 25px #00a1d5,
        1994px 1830px #00a1d5, 1744px 732px #00a1d5, 20px 1635px #00a1d5, 690px 1795px #00a1d5,
        1594px 569px #00a1d5, 579px 245px #00a1d5, 1398px 733px #00a1d5, 408px 1352px #00a1d5,
        1774px 120px #00a1d5, 1152px 1370px #00a1d5, 1698px 1810px #00a1d5, 710px 1450px #00a1d5,
        665px 286px #00a1d5, 493px 1720px #00a1d5, 786px 5px #00a1d5, 637px 1140px #00a1d5,
        764px 324px #00a1d5, 927px 310px #00a1d5, 938px 1424px #00a1d5, 1884px 744px #00a1d5,
        913px 462px #00a1d5, 1831px 1936px #00a1d5, 1527px 249px #00a1d5, 36px 1381px #00a1d5,
        1597px 581px #00a1d5, 1530px 355px #00a1d5, 949px 459px #00a1d5, 799px 828px #00a1d5,
        242px 1471px #00a1d5, 654px 797px #00a1d5, 796px 594px #00a1d5, 1365px 678px #00a1d5,
        752px 23px #00a1d5, 1630px 541px #00a1d5, 982px 72px #00a1d5, 1733px 1831px #00a1d5,
        21px 412px #00a1d5, 775px 998px #00a1d5, 335px 1945px #00a1d5, 264px 583px #00a1d5,
        158px 1311px #00a1d5, 528px 164px #00a1d5, 1978px 574px #00a1d5, 717px 1203px #00a1d5,
        734px 1591px #00a1d5, 1555px 820px #00a1d5, 16px 1943px #00a1d5, 1625px 1177px #00a1d5,
        1236px 690px #00a1d5, 1585px 1590px #00a1d5, 1737px 1728px #00a1d5, 721px 698px #00a1d5,
        1804px 1186px #00a1d5, 166px 980px #00a1d5, 1850px 230px #00a1d5, 330px 1712px #00a1d5,
        95px 797px #00a1d5, 1948px 1078px #00a1d5, 469px 939px #00a1d5, 1269px 1899px #00a1d5,
        955px 1220px #00a1d5, 1137px 1075px #00a1d5, 312px 1293px #00a1d5, 986px 1762px #00a1d5,
        1103px 1238px #00a1d5, 428px 1993px #00a1d5, 355px 570px #00a1d5, 977px 1836px #00a1d5,
        1395px 1092px #00a1d5, 276px 913px #00a1d5, 1743px 656px #00a1d5, 773px 502px #00a1d5,
        1686px 1322px #00a1d5, 1516px 1945px #00a1d5, 1334px 501px #00a1d5, 266px 156px #00a1d5,
        455px 655px #00a1d5, 798px 72px #00a1d5, 1059px 1259px #00a1d5, 1402px 1687px #00a1d5,
        236px 1329px #00a1d5, 1455px 786px #00a1d5, 146px 1228px #00a1d5, 1851px 823px #00a1d5,
        1062px 100px #00a1d5, 1220px 953px #00a1d5, 20px 1826px #00a1d5, 36px 1063px #00a1d5,
        1525px 338px #00a1d5, 790px 1521px #00a1d5, 741px 1099px #00a1d5, 288px 1489px #00a1d5,
        700px 1060px #00a1d5, 390px 1071px #00a1d5, 411px 1036px #00a1d5, 1853px 1072px #00a1d5,
        1446px 1085px #00a1d5, 1164px 874px #00a1d5, 924px 925px #00a1d5, 291px 271px #00a1d5,
        1257px 1964px #00a1d5, 1580px 1352px #00a1d5, 1507px 1216px #00a1d5, 211px 956px #00a1d5,
        985px 1195px #00a1d5, 975px 1640px #00a1d5, 518px 101px #00a1d5, 663px 1395px #00a1d5,
        914px 532px #00a1d5, 145px 1320px #00a1d5, 69px 1397px #00a1d5, 982px 523px #00a1d5,
        257px 725px #00a1d5, 1599px 831px #00a1d5, 1636px 1513px #00a1d5, 1250px 1158px #00a1d5,
        1132px 604px #00a1d5, 183px 102px #00a1d5, 1057px 318px #00a1d5, 1247px 1835px #00a1d5,
        1983px 1110px #00a1d5, 1077px 1455px #00a1d5, 921px 1770px #00a1d5, 806px 1350px #00a1d5,
        1938px 1992px #00a1d5, 855px 1260px #00a1d5, 902px 1345px #00a1d5, 658px 1908px #00a1d5,
        1845px 679px #00a1d5, 712px 1482px #00a1d5, 595px 950px #00a1d5, 1784px 1992px #00a1d5,
        1847px 1785px #00a1d5, 691px 1004px #00a1d5, 175px 1179px #00a1d5, 1666px 1911px #00a1d5,
        41px 61px #00a1d5, 971px 1080px #00a1d5, 1830px 1450px #00a1d5, 1351px 1518px #00a1d5,
        1257px 99px #00a1d5, 1395px 1498px #00a1d5, 1117px 252px #00a1d5, 1779px 597px #00a1d5,
        1346px 729px #00a1d5, 1108px 1144px #00a1d5, 402px 691px #00a1d5, 72px 496px #00a1d5,
        1673px 1604px #00a1d5, 1497px 974px #00a1d5, 1865px 1664px #00a1d5, 88px 806px #00a1d5,
        918px 77px #00a1d5, 244px 1118px #00a1d5, 256px 1820px #00a1d5, 1851px 1840px #00a1d5,
        605px 1851px #00a1d5, 634px 383px #00a1d5, 865px 37px #00a1d5, 943px 1024px #00a1d5,
        1951px 177px #00a1d5, 1097px 523px #00a1d5, 985px 1700px #00a1d5, 1243px 122px #00a1d5,
        768px 1070px #00a1d5, 468px 194px #00a1d5, 320px 1867px #00a1d5, 1850px 185px #00a1d5,
        380px 1616px #00a1d5, 468px 1294px #00a1d5, 1122px 1743px #00a1d5, 884px 299px #00a1d5,
        1300px 1917px #00a1d5, 1860px 396px #00a1d5, 1270px 990px #00a1d5, 529px 733px #00a1d5,
        1975px 1347px #00a1d5, 1885px 685px #00a1d5, 226px 506px #00a1d5, 651px 878px #00a1d5,
        1323px 680px #00a1d5, 1284px 680px #00a1d5, 238px 1967px #00a1d5, 911px 174px #00a1d5,
        1111px 521px #00a1d5, 1150px 85px #00a1d5, 794px 502px #00a1d5, 484px 1856px #00a1d5,
        1809px 368px #00a1d5, 112px 953px #00a1d5, 590px 1009px #00a1d5, 1655px 311px #00a1d5,
        100px 1026px #00a1d5, 1803px 352px #00a1d5, 865px 306px #00a1d5, 1077px 1019px #00a1d5,
        1335px 872px #00a1d5, 1647px 1298px #00a1d5, 1233px 1387px #00a1d5, 698px 1036px #00a1d5,
        659px 1860px #00a1d5, 388px 1412px #00a1d5, 1212px 458px #00a1d5, 755px 1468px #00a1d5,
        696px 1654px #00a1d5, 1144px 60px #00a1d5;
 }
 
 #stars::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #00a1d5, 324px 42px #00a1d5, 303px 586px #00a1d5,
        1312px 276px #00a1d5, 451px 625px #00a1d5, 521px 1931px #00a1d5, 1087px 1871px #00a1d5,
        36px 1546px #00a1d5, 132px 934px #00a1d5, 1698px 901px #00a1d5, 1418px 664px #00a1d5,
        1448px 1157px #00a1d5, 1084px 232px #00a1d5, 347px 1776px #00a1d5, 1722px 243px #00a1d5,
        1629px 835px #00a1d5, 479px 969px #00a1d5, 1231px 960px #00a1d5, 586px 384px #00a1d5,
        164px 527px #00a1d5, 8px 646px #00a1d5, 1150px 1126px #00a1d5, 665px 1357px #00a1d5,
        1556px 1982px #00a1d5, 1260px 1961px #00a1d5, 1675px 1741px #00a1d5,
        1843px 1514px #00a1d5, 718px 1628px #00a1d5, 242px 1343px #00a1d5, 1497px 1880px #00a1d5,
        1364px 230px #00a1d5, 1739px 1302px #00a1d5, 636px 959px #00a1d5, 304px 686px #00a1d5,
        614px 751px #00a1d5, 1935px 816px #00a1d5, 1428px 60px #00a1d5, 355px 335px #00a1d5,
        1594px 158px #00a1d5, 90px 60px #00a1d5, 1553px 162px #00a1d5, 1239px 1825px #00a1d5,
        1945px 587px #00a1d5, 749px 1785px #00a1d5, 1987px 1172px #00a1d5, 1301px 1237px #00a1d5,
        1039px 342px #00a1d5, 1585px 1481px #00a1d5, 995px 1048px #00a1d5, 524px 932px #00a1d5,
        214px 413px #00a1d5, 1701px 1300px #00a1d5, 1037px 1613px #00a1d5, 1871px 996px #00a1d5,
        1360px 1635px #00a1d5, 1110px 1313px #00a1d5, 412px 1783px #00a1d5, 1949px 177px #00a1d5,
        903px 1854px #00a1d5, 700px 1936px #00a1d5, 378px 125px #00a1d5, 308px 834px #00a1d5,
        1118px 962px #00a1d5, 1350px 1929px #00a1d5, 781px 1811px #00a1d5, 561px 137px #00a1d5,
        757px 1148px #00a1d5, 1670px 1979px #00a1d5, 343px 739px #00a1d5, 945px 795px #00a1d5,
        576px 1903px #00a1d5, 1078px 1436px #00a1d5, 1583px 450px #00a1d5, 1366px 474px #00a1d5,
        297px 1873px #00a1d5, 192px 162px #00a1d5, 1624px 1633px #00a1d5, 59px 453px #00a1d5,
        82px 1872px #00a1d5, 1933px 498px #00a1d5, 1966px 1974px #00a1d5, 1975px 1688px #00a1d5,
        779px 314px #00a1d5, 1858px 1543px #00a1d5, 73px 1507px #00a1d5, 1693px 975px #00a1d5,
        1683px 108px #00a1d5, 1768px 1654px #00a1d5, 654px 14px #00a1d5, 494px 171px #00a1d5,
        1689px 1895px #00a1d5, 1660px 263px #00a1d5, 1031px 903px #00a1d5, 1203px 1393px #00a1d5,
        1333px 1421px #00a1d5, 1113px 41px #00a1d5, 1206px 1645px #00a1d5, 1325px 1635px #00a1d5,
        142px 388px #00a1d5, 572px 215px #00a1d5, 1535px 296px #00a1d5, 1419px 407px #00a1d5,
        1379px 1003px #00a1d5, 329px 469px #00a1d5, 1791px 1652px #00a1d5, 935px 1802px #00a1d5,
        1330px 1820px #00a1d5, 421px 1933px #00a1d5, 828px 365px #00a1d5, 275px 316px #00a1d5,
        707px 960px #00a1d5, 1605px 1554px #00a1d5, 625px 58px #00a1d5, 717px 1697px #00a1d5,
        1669px 246px #00a1d5, 1925px 322px #00a1d5, 1154px 1803px #00a1d5, 1929px 295px #00a1d5,
        1248px 240px #00a1d5, 1045px 1755px #00a1d5, 166px 942px #00a1d5, 1888px 1773px #00a1d5,
        678px 1963px #00a1d5, 1370px 569px #00a1d5, 1974px 1400px #00a1d5, 1786px 460px #00a1d5,
        51px 307px #00a1d5, 784px 1400px #00a1d5, 730px 1258px #00a1d5, 1712px 393px #00a1d5,
        416px 170px #00a1d5, 1797px 1932px #00a1d5, 572px 219px #00a1d5, 1557px 1856px #00a1d5,
        218px 8px #00a1d5, 348px 1334px #00a1d5, 469px 413px #00a1d5, 385px 1738px #00a1d5,
        1357px 1818px #00a1d5, 240px 942px #00a1d5, 248px 1847px #00a1d5, 1535px 806px #00a1d5,
        236px 1514px #00a1d5, 1429px 1556px #00a1d5, 73px 1633px #00a1d5, 1398px 1121px #00a1d5,
        671px 1301px #00a1d5, 1404px 1663px #00a1d5, 740px 1018px #00a1d5, 1600px 377px #00a1d5,
        785px 514px #00a1d5, 112px 1084px #00a1d5, 1915px 1887px #00a1d5, 1463px 1848px #00a1d5,
        687px 1115px #00a1d5, 1268px 1768px #00a1d5, 1729px 1425px #00a1d5,
        1284px 1022px #00a1d5, 801px 974px #00a1d5, 1975px 1317px #00a1d5, 1354px 834px #00a1d5,
        1446px 1484px #00a1d5, 1283px 1786px #00a1d5, 11px 523px #00a1d5, 1842px 236px #00a1d5,
        1355px 654px #00a1d5, 429px 7px #00a1d5, 1033px 1128px #00a1d5, 157px 297px #00a1d5,
        545px 635px #00a1d5, 52px 1080px #00a1d5, 827px 1520px #00a1d5, 1121px 490px #00a1d5,
        9px 309px #00a1d5, 1744px 1586px #00a1d5, 1014px 417px #00a1d5, 1534px 524px #00a1d5,
        958px 552px #00a1d5, 1403px 1496px #00a1d5, 387px 703px #00a1d5, 1522px 548px #00a1d5,
        1355px 282px #00a1d5, 1532px 601px #00a1d5, 1838px 790px #00a1d5, 290px 259px #00a1d5,
        295px 598px #00a1d5, 1601px 539px #00a1d5, 1561px 1272px #00a1d5, 34px 1922px #00a1d5,
        1024px 543px #00a1d5, 467px 369px #00a1d5, 722px 333px #00a1d5, 1976px 1255px #00a1d5,
        766px 983px #00a1d5, 1582px 1285px #00a1d5, 12px 512px #00a1d5, 617px 1410px #00a1d5,
        682px 577px #00a1d5, 1334px 1438px #00a1d5, 439px 327px #00a1d5, 1617px 1661px #00a1d5,
        673px 129px #00a1d5, 794px 941px #00a1d5, 1386px 1902px #00a1d5, 37px 1353px #00a1d5,
        1467px 1353px #00a1d5, 416px 18px #00a1d5, 187px 344px #00a1d5, 200px 1898px #00a1d5,
        1491px 1619px #00a1d5, 811px 347px #00a1d5, 924px 1827px #00a1d5, 945px 217px #00a1d5,
        1735px 1228px #00a1d5, 379px 1890px #00a1d5, 79px 761px #00a1d5, 825px 1837px #00a1d5,
        1980px 1558px #00a1d5, 1308px 1573px #00a1d5, 1488px 1726px #00a1d5,
        382px 1208px #00a1d5, 522px 595px #00a1d5, 1277px 1898px #00a1d5, 354px 552px #00a1d5,
        161px 1784px #00a1d5, 614px 251px #00a1d5, 526px 1576px #00a1d5, 17px 212px #00a1d5,
        179px 996px #00a1d5, 467px 1208px #00a1d5, 1944px 1838px #00a1d5, 1140px 1093px #00a1d5,
        858px 1007px #00a1d5, 200px 1064px #00a1d5, 423px 1964px #00a1d5, 1945px 439px #00a1d5,
        1377px 689px #00a1d5, 1120px 1437px #00a1d5, 1876px 668px #00a1d5, 907px 1324px #00a1d5,
        343px 1976px #00a1d5, 1816px 1501px #00a1d5, 1849px 177px #00a1d5, 647px 91px #00a1d5,
        1984px 1012px #00a1d5, 1336px 1300px #00a1d5, 128px 648px #00a1d5, 305px 1060px #00a1d5,
        1324px 826px #00a1d5, 1263px 1314px #00a1d5, 1801px 629px #00a1d5, 1614px 1555px #00a1d5,
        1634px 90px #00a1d5, 1603px 452px #00a1d5, 891px 1984px #00a1d5, 1556px 1906px #00a1d5,
        121px 68px #00a1d5, 1676px 1714px #00a1d5, 516px 936px #00a1d5, 1947px 1492px #00a1d5,
        1455px 1519px #00a1d5, 45px 602px #00a1d5, 205px 1039px #00a1d5, 793px 172px #00a1d5,
        1562px 1739px #00a1d5, 1056px 110px #00a1d5, 1512px 379px #00a1d5, 1795px 1621px #00a1d5,
        1848px 607px #00a1d5, 262px 1719px #00a1d5, 477px 991px #00a1d5, 483px 883px #00a1d5,
        1239px 1197px #00a1d5, 1496px 647px #00a1d5, 1649px 25px #00a1d5, 1491px 1946px #00a1d5,
        119px 996px #00a1d5, 179px 1472px #00a1d5, 1341px 808px #00a1d5, 1565px 1700px #00a1d5,
        407px 1544px #00a1d5, 1754px 357px #00a1d5, 1288px 981px #00a1d5, 902px 1997px #00a1d5,
        1755px 1668px #00a1d5, 186px 877px #00a1d5, 1202px 1882px #00a1d5, 461px 1213px #00a1d5,
        1400px 748px #00a1d5, 1969px 1899px #00a1d5, 809px 522px #00a1d5, 514px 1219px #00a1d5,
        374px 275px #00a1d5, 938px 1973px #00a1d5, 357px 552px #00a1d5, 144px 1722px #00a1d5,
        1572px 912px #00a1d5, 402px 1858px #00a1d5, 1544px 1195px #00a1d5, 667px 1257px #00a1d5,
        727px 1496px #00a1d5, 993px 232px #00a1d5, 1772px 313px #00a1d5, 1040px 1590px #00a1d5,
        1204px 1973px #00a1d5, 1268px 79px #00a1d5, 1555px 1048px #00a1d5, 986px 1707px #00a1d5,
        978px 1710px #00a1d5, 713px 360px #00a1d5, 407px 863px #00a1d5, 461px 736px #00a1d5,
        284px 1608px #00a1d5, 103px 430px #00a1d5, 1283px 1319px #00a1d5, 977px 1186px #00a1d5,
        1966px 1516px #00a1d5, 1287px 1129px #00a1d5, 70px 1098px #00a1d5, 1189px 889px #00a1d5,
        1126px 1734px #00a1d5, 309px 1292px #00a1d5, 879px 764px #00a1d5, 65px 473px #00a1d5,
        1003px 1959px #00a1d5, 658px 791px #00a1d5, 402px 1576px #00a1d5, 35px 622px #00a1d5,
        529px 1589px #00a1d5, 164px 666px #00a1d5, 1876px 1290px #00a1d5, 1541px 526px #00a1d5,
        270px 1297px #00a1d5, 440px 865px #00a1d5, 1500px 802px #00a1d5, 182px 1754px #00a1d5,
        1264px 892px #00a1d5, 272px 1249px #00a1d5, 1289px 1535px #00a1d5, 190px 1646px #00a1d5,
        955px 242px #00a1d5, 1456px 1597px #00a1d5, 1727px 1983px #00a1d5, 635px 801px #00a1d5,
        226px 455px #00a1d5, 1396px 1710px #00a1d5, 849px 1863px #00a1d5, 237px 1264px #00a1d5,
        839px 140px #00a1d5, 1122px 735px #00a1d5, 1280px 15px #00a1d5, 1318px 242px #00a1d5,
        1819px 1148px #00a1d5, 333px 1392px #00a1d5, 1949px 553px #00a1d5, 1878px 1332px #00a1d5,
        467px 548px #00a1d5, 1812px 1082px #00a1d5, 1067px 193px #00a1d5, 243px 156px #00a1d5,
        483px 1616px #00a1d5, 1714px 933px #00a1d5, 759px 1800px #00a1d5, 1822px 995px #00a1d5,
        1877px 572px #00a1d5, 581px 1084px #00a1d5, 107px 732px #00a1d5, 642px 1837px #00a1d5,
        166px 1493px #00a1d5, 1555px 198px #00a1d5, 819px 307px #00a1d5, 947px 345px #00a1d5,
        827px 224px #00a1d5, 927px 1394px #00a1d5, 540px 467px #00a1d5, 1093px 405px #00a1d5,
        1140px 927px #00a1d5, 130px 529px #00a1d5, 33px 1980px #00a1d5, 1147px 1663px #00a1d5,
        1616px 1436px #00a1d5, 528px 710px #00a1d5, 798px 1100px #00a1d5, 505px 1480px #00a1d5,
        899px 641px #00a1d5, 1909px 1949px #00a1d5, 1311px 964px #00a1d5, 979px 1301px #00a1d5,
        1393px 969px #00a1d5, 1793px 1886px #00a1d5, 292px 357px #00a1d5, 1196px 1718px #00a1d5,
        1290px 1994px #00a1d5, 537px 1973px #00a1d5, 1181px 1674px #00a1d5,
        1740px 1566px #00a1d5, 1307px 265px #00a1d5, 922px 522px #00a1d5, 1892px 472px #00a1d5,
        384px 1746px #00a1d5, 392px 1098px #00a1d5, 647px 548px #00a1d5, 390px 1498px #00a1d5,
        1246px 138px #00a1d5, 730px 876px #00a1d5, 192px 1472px #00a1d5, 1790px 1789px #00a1d5,
        928px 311px #00a1d5, 1253px 1647px #00a1d5, 747px 1921px #00a1d5, 1561px 1025px #00a1d5,
        1533px 1292px #00a1d5, 1985px 195px #00a1d5, 728px 729px #00a1d5, 1712px 1936px #00a1d5,
        512px 1717px #00a1d5, 1528px 483px #00a1d5, 313px 1642px #00a1d5, 281px 1849px #00a1d5,
        1212px 799px #00a1d5, 435px 1191px #00a1d5, 1422px 611px #00a1d5, 1718px 1964px #00a1d5,
        411px 944px #00a1d5, 210px 636px #00a1d5, 1502px 1295px #00a1d5, 1434px 349px #00a1d5,
        769px 60px #00a1d5, 747px 1053px #00a1d5, 789px 504px #00a1d5, 1436px 1264px #00a1d5,
        1893px 1225px #00a1d5, 1394px 1788px #00a1d5, 1108px 1317px #00a1d5,
        1673px 1395px #00a1d5, 854px 1010px #00a1d5, 1705px 80px #00a1d5, 1858px 148px #00a1d5,
        1729px 344px #00a1d5, 1388px 664px #00a1d5, 895px 406px #00a1d5, 1479px 157px #00a1d5,
        1441px 1157px #00a1d5, 552px 1900px #00a1d5, 516px 364px #00a1d5, 1647px 189px #00a1d5,
        1427px 1071px #00a1d5, 785px 729px #00a1d5, 1080px 1710px #00a1d5, 504px 204px #00a1d5,
        1177px 1622px #00a1d5, 657px 34px #00a1d5, 1296px 1099px #00a1d5, 248px 180px #00a1d5,
        1212px 1568px #00a1d5, 667px 1562px #00a1d5, 695px 841px #00a1d5, 1608px 1247px #00a1d5,
        751px 882px #00a1d5, 87px 167px #00a1d5, 607px 1368px #00a1d5, 1363px 1203px #00a1d5,
        1836px 317px #00a1d5, 1668px 1703px #00a1d5, 830px 1154px #00a1d5, 1721px 1398px #00a1d5,
        1601px 1280px #00a1d5, 976px 874px #00a1d5, 1743px 254px #00a1d5, 1020px 1815px #00a1d5,
        1670px 1766px #00a1d5, 1890px 735px #00a1d5, 1379px 136px #00a1d5, 1864px 695px #00a1d5,
        206px 965px #00a1d5, 1404px 1932px #00a1d5, 1923px 1360px #00a1d5, 247px 682px #00a1d5,
        519px 1708px #00a1d5, 645px 750px #00a1d5, 1164px 1204px #00a1d5, 834px 323px #00a1d5,
        172px 1350px #00a1d5, 213px 972px #00a1d5, 1837px 190px #00a1d5, 285px 1806px #00a1d5,
        1047px 1299px #00a1d5, 1548px 825px #00a1d5, 1730px 324px #00a1d5, 1346px 1909px #00a1d5,
        772px 270px #00a1d5, 345px 1190px #00a1d5, 478px 1433px #00a1d5, 1479px 25px #00a1d5,
        1994px 1830px #00a1d5, 1744px 732px #00a1d5, 20px 1635px #00a1d5, 690px 1795px #00a1d5,
        1594px 569px #00a1d5, 579px 245px #00a1d5, 1398px 733px #00a1d5, 408px 1352px #00a1d5,
        1774px 120px #00a1d5, 1152px 1370px #00a1d5, 1698px 1810px #00a1d5, 710px 1450px #00a1d5,
        665px 286px #00a1d5, 493px 1720px #00a1d5, 786px 5px #00a1d5, 637px 1140px #00a1d5,
        764px 324px #00a1d5, 927px 310px #00a1d5, 938px 1424px #00a1d5, 1884px 744px #00a1d5,
        913px 462px #00a1d5, 1831px 1936px #00a1d5, 1527px 249px #00a1d5, 36px 1381px #00a1d5,
        1597px 581px #00a1d5, 1530px 355px #00a1d5, 949px 459px #00a1d5, 799px 828px #00a1d5,
        242px 1471px #00a1d5, 654px 797px #00a1d5, 796px 594px #00a1d5, 1365px 678px #00a1d5,
        752px 23px #00a1d5, 1630px 541px #00a1d5, 982px 72px #00a1d5, 1733px 1831px #00a1d5,
        21px 412px #00a1d5, 775px 998px #00a1d5, 335px 1945px #00a1d5, 264px 583px #00a1d5,
        158px 1311px #00a1d5, 528px 164px #00a1d5, 1978px 574px #00a1d5, 717px 1203px #00a1d5,
        734px 1591px #00a1d5, 1555px 820px #00a1d5, 16px 1943px #00a1d5, 1625px 1177px #00a1d5,
        1236px 690px #00a1d5, 1585px 1590px #00a1d5, 1737px 1728px #00a1d5, 721px 698px #00a1d5,
        1804px 1186px #00a1d5, 166px 980px #00a1d5, 1850px 230px #00a1d5, 330px 1712px #00a1d5,
        95px 797px #00a1d5, 1948px 1078px #00a1d5, 469px 939px #00a1d5, 1269px 1899px #00a1d5,
        955px 1220px #00a1d5, 1137px 1075px #00a1d5, 312px 1293px #00a1d5, 986px 1762px #00a1d5,
        1103px 1238px #00a1d5, 428px 1993px #00a1d5, 355px 570px #00a1d5, 977px 1836px #00a1d5,
        1395px 1092px #00a1d5, 276px 913px #00a1d5, 1743px 656px #00a1d5, 773px 502px #00a1d5,
        1686px 1322px #00a1d5, 1516px 1945px #00a1d5, 1334px 501px #00a1d5, 266px 156px #00a1d5,
        455px 655px #00a1d5, 798px 72px #00a1d5, 1059px 1259px #00a1d5, 1402px 1687px #00a1d5,
        236px 1329px #00a1d5, 1455px 786px #00a1d5, 146px 1228px #00a1d5, 1851px 823px #00a1d5,
        1062px 100px #00a1d5, 1220px 953px #00a1d5, 20px 1826px #00a1d5, 36px 1063px #00a1d5,
        1525px 338px #00a1d5, 790px 1521px #00a1d5, 741px 1099px #00a1d5, 288px 1489px #00a1d5,
        700px 1060px #00a1d5, 390px 1071px #00a1d5, 411px 1036px #00a1d5, 1853px 1072px #00a1d5,
        1446px 1085px #00a1d5, 1164px 874px #00a1d5, 924px 925px #00a1d5, 291px 271px #00a1d5,
        1257px 1964px #00a1d5, 1580px 1352px #00a1d5, 1507px 1216px #00a1d5, 211px 956px #00a1d5,
        985px 1195px #00a1d5, 975px 1640px #00a1d5, 518px 101px #00a1d5, 663px 1395px #00a1d5,
        914px 532px #00a1d5, 145px 1320px #00a1d5, 69px 1397px #00a1d5, 982px 523px #00a1d5,
        257px 725px #00a1d5, 1599px 831px #00a1d5, 1636px 1513px #00a1d5, 1250px 1158px #00a1d5,
        1132px 604px #00a1d5, 183px 102px #00a1d5, 1057px 318px #00a1d5, 1247px 1835px #00a1d5,
        1983px 1110px #00a1d5, 1077px 1455px #00a1d5, 921px 1770px #00a1d5, 806px 1350px #00a1d5,
        1938px 1992px #00a1d5, 855px 1260px #00a1d5, 902px 1345px #00a1d5, 658px 1908px #00a1d5,
        1845px 679px #00a1d5, 712px 1482px #00a1d5, 595px 950px #00a1d5, 1784px 1992px #00a1d5,
        1847px 1785px #00a1d5, 691px 1004px #00a1d5, 175px 1179px #00a1d5, 1666px 1911px #00a1d5,
        41px 61px #00a1d5, 971px 1080px #00a1d5, 1830px 1450px #00a1d5, 1351px 1518px #00a1d5,
        1257px 99px #00a1d5, 1395px 1498px #00a1d5, 1117px 252px #00a1d5, 1779px 597px #00a1d5,
        1346px 729px #00a1d5, 1108px 1144px #00a1d5, 402px 691px #00a1d5, 72px 496px #00a1d5,
        1673px 1604px #00a1d5, 1497px 974px #00a1d5, 1865px 1664px #00a1d5, 88px 806px #00a1d5,
        918px 77px #00a1d5, 244px 1118px #00a1d5, 256px 1820px #00a1d5, 1851px 1840px #00a1d5,
        605px 1851px #00a1d5, 634px 383px #00a1d5, 865px 37px #00a1d5, 943px 1024px #00a1d5,
        1951px 177px #00a1d5, 1097px 523px #00a1d5, 985px 1700px #00a1d5, 1243px 122px #00a1d5,
        768px 1070px #00a1d5, 468px 194px #00a1d5, 320px 1867px #00a1d5, 1850px 185px #00a1d5,
        380px 1616px #00a1d5, 468px 1294px #00a1d5, 1122px 1743px #00a1d5, 884px 299px #00a1d5,
        1300px 1917px #00a1d5, 1860px 396px #00a1d5, 1270px 990px #00a1d5, 529px 733px #00a1d5,
        1975px 1347px #00a1d5, 1885px 685px #00a1d5, 226px 506px #00a1d5, 651px 878px #00a1d5,
        1323px 680px #00a1d5, 1284px 680px #00a1d5, 238px 1967px #00a1d5, 911px 174px #00a1d5,
        1111px 521px #00a1d5, 1150px 85px #00a1d5, 794px 502px #00a1d5, 484px 1856px #00a1d5,
        1809px 368px #00a1d5, 112px 953px #00a1d5, 590px 1009px #00a1d5, 1655px 311px #00a1d5,
        100px 1026px #00a1d5, 1803px 352px #00a1d5, 865px 306px #00a1d5, 1077px 1019px #00a1d5,
        1335px 872px #00a1d5, 1647px 1298px #00a1d5, 1233px 1387px #00a1d5, 698px 1036px #00a1d5,
        659px 1860px #00a1d5, 388px 1412px #00a1d5, 1212px 458px #00a1d5, 755px 1468px #00a1d5,
        696px 1654px #00a1d5, 1144px 60px #00a1d5;
 }
 
 #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #00a1d5, 1775px 1663px #00a1d5, 332px 1364px #00a1d5,
        878px 340px #00a1d5, 569px 1832px #00a1d5, 1422px 1684px #00a1d5, 1946px 1907px #00a1d5,
        121px 979px #00a1d5, 1044px 1069px #00a1d5, 463px 381px #00a1d5, 423px 112px #00a1d5,
        523px 1179px #00a1d5, 779px 654px #00a1d5, 1398px 694px #00a1d5, 1085px 1464px #00a1d5,
        1599px 1869px #00a1d5, 801px 1882px #00a1d5, 779px 1231px #00a1d5, 552px 932px #00a1d5,
        1057px 1196px #00a1d5, 282px 1280px #00a1d5, 496px 1986px #00a1d5, 1833px 1120px #00a1d5,
        1802px 1293px #00a1d5, 6px 1696px #00a1d5, 412px 1902px #00a1d5, 605px 438px #00a1d5,
        24px 1212px #00a1d5, 234px 1320px #00a1d5, 544px 344px #00a1d5, 1107px 170px #00a1d5,
        1603px 196px #00a1d5, 905px 648px #00a1d5, 68px 1458px #00a1d5, 649px 1969px #00a1d5,
        744px 675px #00a1d5, 1127px 478px #00a1d5, 714px 1814px #00a1d5, 1486px 526px #00a1d5,
        270px 1636px #00a1d5, 1931px 149px #00a1d5, 1807px 378px #00a1d5, 8px 390px #00a1d5,
        1415px 699px #00a1d5, 1473px 1211px #00a1d5, 1590px 141px #00a1d5, 270px 1705px #00a1d5,
        69px 1423px #00a1d5, 1108px 1053px #00a1d5, 1946px 128px #00a1d5, 371px 371px #00a1d5,
        1490px 220px #00a1d5, 357px 1885px #00a1d5, 363px 363px #00a1d5, 1896px 1256px #00a1d5,
        1979px 1050px #00a1d5, 947px 1342px #00a1d5, 1754px 242px #00a1d5, 514px 974px #00a1d5,
        65px 1477px #00a1d5, 1840px 547px #00a1d5, 950px 695px #00a1d5, 459px 1150px #00a1d5,
        1124px 1502px #00a1d5, 481px 940px #00a1d5, 680px 839px #00a1d5, 797px 1169px #00a1d5,
        1977px 1491px #00a1d5, 734px 1724px #00a1d5, 210px 298px #00a1d5, 816px 628px #00a1d5,
        686px 770px #00a1d5, 1721px 267px #00a1d5, 1663px 511px #00a1d5, 1481px 1141px #00a1d5,
        582px 248px #00a1d5, 1308px 953px #00a1d5, 628px 657px #00a1d5, 897px 1535px #00a1d5,
        270px 931px #00a1d5, 791px 467px #00a1d5, 1336px 1732px #00a1d5, 1013px 1653px #00a1d5,
        1911px 956px #00a1d5, 587px 816px #00a1d5, 83px 456px #00a1d5, 930px 1478px #00a1d5,
        1587px 1694px #00a1d5, 614px 1200px #00a1d5, 302px 1782px #00a1d5, 1711px 1432px #00a1d5,
        443px 904px #00a1d5, 1666px 714px #00a1d5, 1588px 1167px #00a1d5, 273px 1075px #00a1d5,
        1679px 461px #00a1d5, 721px 664px #00a1d5, 1202px 10px #00a1d5, 166px 1126px #00a1d5,
        331px 1628px #00a1d5, 430px 1565px #00a1d5, 1585px 509px #00a1d5, 640px 38px #00a1d5,
        822px 837px #00a1d5, 1760px 1664px #00a1d5, 1122px 1458px #00a1d5, 398px 131px #00a1d5,
        689px 285px #00a1d5, 460px 652px #00a1d5, 1627px 365px #00a1d5, 348px 1648px #00a1d5,
        819px 1946px #00a1d5, 981px 1917px #00a1d5, 323px 76px #00a1d5, 979px 684px #00a1d5,
        887px 536px #00a1d5, 1348px 1596px #00a1d5, 1055px 666px #00a1d5, 1402px 1797px #00a1d5,
        1300px 1055px #00a1d5, 937px 238px #00a1d5, 1474px 1815px #00a1d5, 1144px 1710px #00a1d5,
        1629px 1087px #00a1d5, 911px 919px #00a1d5, 771px 819px #00a1d5, 403px 720px #00a1d5,
        163px 736px #00a1d5, 1062px 238px #00a1d5, 1774px 818px #00a1d5, 1874px 1178px #00a1d5,
        1177px 699px #00a1d5, 1244px 1244px #00a1d5, 1371px 58px #00a1d5, 564px 1515px #00a1d5,
        1824px 487px #00a1d5, 929px 702px #00a1d5, 394px 1348px #00a1d5, 1161px 641px #00a1d5,
        219px 1841px #00a1d5, 358px 941px #00a1d5, 140px 1759px #00a1d5, 1019px 1345px #00a1d5,
        274px 436px #00a1d5, 1433px 1605px #00a1d5, 1798px 1426px #00a1d5, 294px 1848px #00a1d5,
        1681px 1877px #00a1d5, 1344px 1824px #00a1d5, 1439px 1632px #00a1d5,
        161px 1012px #00a1d5, 1308px 588px #00a1d5, 1789px 582px #00a1d5, 721px 1910px #00a1d5,
        318px 218px #00a1d5, 607px 319px #00a1d5, 495px 535px #00a1d5, 1552px 1575px #00a1d5,
        1562px 67px #00a1d5, 403px 926px #00a1d5, 1096px 1800px #00a1d5, 1814px 1709px #00a1d5,
        1882px 1831px #00a1d5, 533px 46px #00a1d5, 823px 969px #00a1d5, 530px 165px #00a1d5,
        1030px 352px #00a1d5, 1681px 313px #00a1d5, 338px 115px #00a1d5, 1607px 211px #00a1d5,
        1718px 1184px #00a1d5, 1589px 659px #00a1d5, 278px 355px #00a1d5, 464px 1464px #00a1d5,
        1165px 277px #00a1d5, 950px 694px #00a1d5, 1746px 293px #00a1d5, 793px 911px #00a1d5,
        528px 773px #00a1d5, 1883px 1694px #00a1d5, 748px 182px #00a1d5, 1924px 1531px #00a1d5,
        100px 636px #00a1d5, 1473px 1445px #00a1d5, 1264px 1244px #00a1d5, 850px 1377px #00a1d5,
        987px 1976px #00a1d5, 933px 1761px #00a1d5, 922px 1270px #00a1d5, 500px 396px #00a1d5,
        1324px 8px #00a1d5, 1967px 1814px #00a1d5, 1072px 1401px #00a1d5, 961px 37px #00a1d5,
        156px 81px #00a1d5, 1915px 502px #00a1d5, 1076px 1846px #00a1d5, 152px 1669px #00a1d5,
        986px 1529px #00a1d5, 1667px 1137px #00a1d5;
 }
 
 #stars2::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #00a1d5, 1775px 1663px #00a1d5, 332px 1364px #00a1d5,
        878px 340px #00a1d5, 569px 1832px #00a1d5, 1422px 1684px #00a1d5, 1946px 1907px #00a1d5,
        121px 979px #00a1d5, 1044px 1069px #00a1d5, 463px 381px #00a1d5, 423px 112px #00a1d5,
        523px 1179px #00a1d5, 779px 654px #00a1d5, 1398px 694px #00a1d5, 1085px 1464px #00a1d5,
        1599px 1869px #00a1d5, 801px 1882px #00a1d5, 779px 1231px #00a1d5, 552px 932px #00a1d5,
        1057px 1196px #00a1d5, 282px 1280px #00a1d5, 496px 1986px #00a1d5, 1833px 1120px #00a1d5,
        1802px 1293px #00a1d5, 6px 1696px #00a1d5, 412px 1902px #00a1d5, 605px 438px #00a1d5,
        24px 1212px #00a1d5, 234px 1320px #00a1d5, 544px 344px #00a1d5, 1107px 170px #00a1d5,
        1603px 196px #00a1d5, 905px 648px #00a1d5, 68px 1458px #00a1d5, 649px 1969px #00a1d5,
        744px 675px #00a1d5, 1127px 478px #00a1d5, 714px 1814px #00a1d5, 1486px 526px #00a1d5,
        270px 1636px #00a1d5, 1931px 149px #00a1d5, 1807px 378px #00a1d5, 8px 390px #00a1d5,
        1415px 699px #00a1d5, 1473px 1211px #00a1d5, 1590px 141px #00a1d5, 270px 1705px #00a1d5,
        69px 1423px #00a1d5, 1108px 1053px #00a1d5, 1946px 128px #00a1d5, 371px 371px #00a1d5,
        1490px 220px #00a1d5, 357px 1885px #00a1d5, 363px 363px #00a1d5, 1896px 1256px #00a1d5,
        1979px 1050px #00a1d5, 947px 1342px #00a1d5, 1754px 242px #00a1d5, 514px 974px #00a1d5,
        65px 1477px #00a1d5, 1840px 547px #00a1d5, 950px 695px #00a1d5, 459px 1150px #00a1d5,
        1124px 1502px #00a1d5, 481px 940px #00a1d5, 680px 839px #00a1d5, 797px 1169px #00a1d5,
        1977px 1491px #00a1d5, 734px 1724px #00a1d5, 210px 298px #00a1d5, 816px 628px #00a1d5,
        686px 770px #00a1d5, 1721px 267px #00a1d5, 1663px 511px #00a1d5, 1481px 1141px #00a1d5,
        582px 248px #00a1d5, 1308px 953px #00a1d5, 628px 657px #00a1d5, 897px 1535px #00a1d5,
        270px 931px #00a1d5, 791px 467px #00a1d5, 1336px 1732px #00a1d5, 1013px 1653px #00a1d5,
        1911px 956px #00a1d5, 587px 816px #00a1d5, 83px 456px #00a1d5, 930px 1478px #00a1d5,
        1587px 1694px #00a1d5, 614px 1200px #00a1d5, 302px 1782px #00a1d5, 1711px 1432px #00a1d5,
        443px 904px #00a1d5, 1666px 714px #00a1d5, 1588px 1167px #00a1d5, 273px 1075px #00a1d5,
        1679px 461px #00a1d5, 721px 664px #00a1d5, 1202px 10px #00a1d5, 166px 1126px #00a1d5,
        331px 1628px #00a1d5, 430px 1565px #00a1d5, 1585px 509px #00a1d5, 640px 38px #00a1d5,
        822px 837px #00a1d5, 1760px 1664px #00a1d5, 1122px 1458px #00a1d5, 398px 131px #00a1d5,
        689px 285px #00a1d5, 460px 652px #00a1d5, 1627px 365px #00a1d5, 348px 1648px #00a1d5,
        819px 1946px #00a1d5, 981px 1917px #00a1d5, 323px 76px #00a1d5, 979px 684px #00a1d5,
        887px 536px #00a1d5, 1348px 1596px #00a1d5, 1055px 666px #00a1d5, 1402px 1797px #00a1d5,
        1300px 1055px #00a1d5, 937px 238px #00a1d5, 1474px 1815px #00a1d5, 1144px 1710px #00a1d5,
        1629px 1087px #00a1d5, 911px 919px #00a1d5, 771px 819px #00a1d5, 403px 720px #00a1d5,
        163px 736px #00a1d5, 1062px 238px #00a1d5, 1774px 818px #00a1d5, 1874px 1178px #00a1d5,
        1177px 699px #00a1d5, 1244px 1244px #00a1d5, 1371px 58px #00a1d5, 564px 1515px #00a1d5,
        1824px 487px #00a1d5, 929px 702px #00a1d5, 394px 1348px #00a1d5, 1161px 641px #00a1d5,
        219px 1841px #00a1d5, 358px 941px #00a1d5, 140px 1759px #00a1d5, 1019px 1345px #00a1d5,
        274px 436px #00a1d5, 1433px 1605px #00a1d5, 1798px 1426px #00a1d5, 294px 1848px #00a1d5,
        1681px 1877px #00a1d5, 1344px 1824px #00a1d5, 1439px 1632px #00a1d5,
        161px 1012px #00a1d5, 1308px 588px #00a1d5, 1789px 582px #00a1d5, 721px 1910px #00a1d5,
        318px 218px #00a1d5, 607px 319px #00a1d5, 495px 535px #00a1d5, 1552px 1575px #00a1d5,
        1562px 67px #00a1d5, 403px 926px #00a1d5, 1096px 1800px #00a1d5, 1814px 1709px #00a1d5,
        1882px 1831px #00a1d5, 533px 46px #00a1d5, 823px 969px #00a1d5, 530px 165px #00a1d5,
        1030px 352px #00a1d5, 1681px 313px #00a1d5, 338px 115px #00a1d5, 1607px 211px #00a1d5,
        1718px 1184px #00a1d5, 1589px 659px #00a1d5, 278px 355px #00a1d5, 464px 1464px #00a1d5,
        1165px 277px #00a1d5, 950px 694px #00a1d5, 1746px 293px #00a1d5, 793px 911px #00a1d5,
        528px 773px #00a1d5, 1883px 1694px #00a1d5, 748px 182px #00a1d5, 1924px 1531px #00a1d5,
        100px 636px #00a1d5, 1473px 1445px #00a1d5, 1264px 1244px #00a1d5, 850px 1377px #00a1d5,
        987px 1976px #00a1d5, 933px 1761px #00a1d5, 922px 1270px #00a1d5, 500px 396px #00a1d5,
        1324px 8px #00a1d5, 1967px 1814px #00a1d5, 1072px 1401px #00a1d5, 961px 37px #00a1d5,
        156px 81px #00a1d5, 1915px 502px #00a1d5, 1076px 1846px #00a1d5, 152px 1669px #00a1d5,
        986px 1529px #00a1d5, 1667px 1137px #00a1d5;
 }
 
 #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
    box-shadow: 387px 1878px #00a1d5, 760px 1564px #00a1d5, 1487px 999px #00a1d5,
        948px 1828px #00a1d5, 1977px 1001px #00a1d5, 1284px 1963px #00a1d5, 656px 284px #00a1d5,
        1268px 1635px #00a1d5, 1820px 598px #00a1d5, 642px 1900px #00a1d5, 296px 57px #00a1d5,
        921px 1620px #00a1d5, 476px 1858px #00a1d5, 658px 613px #00a1d5, 1171px 1363px #00a1d5,
        1419px 283px #00a1d5, 1037px 731px #00a1d5, 503px 663px #00a1d5, 1562px 463px #00a1d5,
        383px 1197px #00a1d5, 1171px 1233px #00a1d5, 876px 1768px #00a1d5, 856px 1615px #00a1d5,
        1375px 1924px #00a1d5, 1725px 918px #00a1d5, 952px 119px #00a1d5, 768px 1212px #00a1d5,
        992px 1462px #00a1d5, 1929px 717px #00a1d5, 1947px 755px #00a1d5, 1818px 1123px #00a1d5,
        1896px 1672px #00a1d5, 460px 198px #00a1d5, 256px 271px #00a1d5, 752px 544px #00a1d5,
        1222px 1859px #00a1d5, 1851px 443px #00a1d5, 313px 1858px #00a1d5, 709px 446px #00a1d5,
        1546px 697px #00a1d5, 674px 1155px #00a1d5, 1112px 130px #00a1d5, 355px 1790px #00a1d5,
        1496px 974px #00a1d5, 1696px 480px #00a1d5, 1316px 1265px #00a1d5, 1645px 1063px #00a1d5,
        1182px 237px #00a1d5, 427px 1582px #00a1d5, 859px 253px #00a1d5, 458px 939px #00a1d5,
        1517px 1644px #00a1d5, 1943px 60px #00a1d5, 212px 1650px #00a1d5, 966px 1786px #00a1d5,
        473px 712px #00a1d5, 130px 76px #00a1d5, 1417px 1186px #00a1d5, 909px 1580px #00a1d5,
        1913px 762px #00a1d5, 204px 1143px #00a1d5, 1998px 1057px #00a1d5, 1468px 1301px #00a1d5,
        144px 1676px #00a1d5, 21px 1601px #00a1d5, 382px 1362px #00a1d5, 912px 753px #00a1d5,
        1488px 1405px #00a1d5, 802px 156px #00a1d5, 174px 550px #00a1d5, 338px 1366px #00a1d5,
        1197px 774px #00a1d5, 602px 486px #00a1d5, 682px 1877px #00a1d5, 348px 1503px #00a1d5,
        407px 1139px #00a1d5, 950px 1400px #00a1d5, 922px 1139px #00a1d5, 1697px 293px #00a1d5,
        1238px 1281px #00a1d5, 1038px 1197px #00a1d5, 376px 1889px #00a1d5,
        1255px 1680px #00a1d5, 1008px 1316px #00a1d5, 1538px 1447px #00a1d5,
        1186px 874px #00a1d5, 1967px 640px #00a1d5, 1341px 19px #00a1d5, 29px 1732px #00a1d5,
        16px 1650px #00a1d5, 1021px 1075px #00a1d5, 723px 424px #00a1d5, 1175px 41px #00a1d5,
        494px 1957px #00a1d5, 1296px 431px #00a1d5, 175px 1507px #00a1d5, 831px 121px #00a1d5,
        498px 1947px #00a1d5, 617px 880px #00a1d5, 240px 403px #00a1d5;
 }
 
 #stars3::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #00a1d5, 760px 1564px #00a1d5, 1487px 999px #00a1d5,
        948px 1828px #00a1d5, 1977px 1001px #00a1d5, 1284px 1963px #00a1d5, 656px 284px #00a1d5,
        1268px 1635px #00a1d5, 1820px 598px #00a1d5, 642px 1900px #00a1d5, 296px 57px #00a1d5,
        921px 1620px #00a1d5, 476px 1858px #00a1d5, 658px 613px #00a1d5, 1171px 1363px #00a1d5,
        1419px 283px #00a1d5, 1037px 731px #00a1d5, 503px 663px #00a1d5, 1562px 463px #00a1d5,
        383px 1197px #00a1d5, 1171px 1233px #00a1d5, 876px 1768px #00a1d5, 856px 1615px #00a1d5,
        1375px 1924px #00a1d5, 1725px 918px #00a1d5, 952px 119px #00a1d5, 768px 1212px #00a1d5,
        992px 1462px #00a1d5, 1929px 717px #00a1d5, 1947px 755px #00a1d5, 1818px 1123px #00a1d5,
        1896px 1672px #00a1d5, 460px 198px #00a1d5, 256px 271px #00a1d5, 752px 544px #00a1d5,
        1222px 1859px #00a1d5, 1851px 443px #00a1d5, 313px 1858px #00a1d5, 709px 446px #00a1d5,
        1546px 697px #00a1d5, 674px 1155px #00a1d5, 1112px 130px #00a1d5, 355px 1790px #00a1d5,
        1496px 974px #00a1d5, 1696px 480px #00a1d5, 1316px 1265px #00a1d5, 1645px 1063px #00a1d5,
        1182px 237px #00a1d5, 427px 1582px #00a1d5, 859px 253px #00a1d5, 458px 939px #00a1d5,
        1517px 1644px #00a1d5, 1943px 60px #00a1d5, 212px 1650px #00a1d5, 966px 1786px #00a1d5,
        473px 712px #00a1d5, 130px 76px #00a1d5, 1417px 1186px #00a1d5, 909px 1580px #00a1d5,
        1913px 762px #00a1d5, 204px 1143px #00a1d5, 1998px 1057px #00a1d5, 1468px 1301px #00a1d5,
        144px 1676px #00a1d5, 21px 1601px #00a1d5, 382px 1362px #00a1d5, 912px 753px #00a1d5,
        1488px 1405px #00a1d5, 802px 156px #00a1d5, 174px 550px #00a1d5, 338px 1366px #00a1d5,
        1197px 774px #00a1d5, 602px 486px #00a1d5, 682px 1877px #00a1d5, 348px 1503px #00a1d5,
        407px 1139px #00a1d5, 950px 1400px #00a1d5, 922px 1139px #00a1d5, 1697px 293px #00a1d5,
        1238px 1281px #00a1d5, 1038px 1197px #00a1d5, 376px 1889px #00a1d5,
        1255px 1680px #00a1d5, 1008px 1316px #00a1d5, 1538px 1447px #00a1d5,
        1186px 874px #00a1d5, 1967px 640px #00a1d5, 1341px 19px #00a1d5, 29px 1732px #00a1d5,
        16px 1650px #00a1d5, 1021px 1075px #00a1d5, 723px 424px #00a1d5, 1175px 41px #00a1d5,
        494px 1957px #00a1d5, 1296px 431px #00a1d5, 175px 1507px #00a1d5, 831px 121px #00a1d5,
        498px 1947px #00a1d5, 617px 880px #00a1d5, 240px 403px #00a1d5;
 }
 
 @keyframes animStar {
    from {
        transform: translateY(0px);
    }
 
    to {
        transform: translateY(-2000px);
    }
 }